<div id="page" class="page_side_wrap s_clear">
  <!--sidebar-->
  <div class="sidebar">
      <div class="round_r_t">
      	<div class="round_l_t">
        <div class="round_r_b">
        <div class="round_l_b">
        <div class="round_m">
        <div class="round_body s_clear">
        
       		<div class="info-nav">
            	<dl>
            	  <dt class='focus'><%= link_to '关于我们', about_us_help_url %></dt>
            	</dl>
            	<dl>
            	  <dt><%= link_to '应用介绍', app_info_help_url %></dt>
            	</dl>
            	<dl>
            	  <dt><%= link_to '联系方式', contact_info_help_url %></dt>
            	</dl>
            	<dl>
            	  <dt><%= link_to '隐私说明', privacy_info_help_url %></dt>
            	</dl>
            </div>
       
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
      
  </div>
  <!--sidebar-->
  <!--main-->
  <div class="main">
    <div class="content">
      <div class="round_r_t">
      	<div class="round_l_t">
            <div class="round_r_b">
                <div class="round_l_b">
                    <div class="round_m">
                        <div class="round_body s_clear">
                        	<div class="info-title"><h2>关于我们</h2></div>
                        	<div class="info-banner">
                        	  <img src="/images/banner/info-banner.jpg" alt="一个世界 等你改变" />
                        	</div>
                            <div class="info-content">
                            <p>一起游戏网(17gaming.com)是网络游戏类的社交网站。以网络游戏为基础，为用户提供日志、公会、活动、即时通讯、相册等丰富强大的互联网功能体验，满足用户对社交、资讯、娱乐等多方面的需求。</p>
							<p>我们相信，创造和控制自己的信息，在游戏交友中保留足够的隐私是基本权利。一起游戏网让玩家在最低的隐私开放度下联系更多的网游朋友，帮助用户创造和控制自己的信息，交付更加丰富、安全、有趣和可靠的沟通体验，无论何时、何地、通过何种设备。</p>
							<p>我们相信，良好的沟通创造卓越的社区。希望我们在一起游戏网共建网络游戏玩家的精神家园。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
  </div>
  <!--main-->
</div>
