<div id="page" class="page_side_wrap s_clear">
  <!--sidebar-->
  <div class="sidebar">
      <div class="round_r_t">
      	<div class="round_l_t">
        <div class="round_r_b">
        <div class="round_l_b">
        <div class="round_m">
        <div class="round_body s_clear">
        
       		<div class="info-nav">
            	<dl>
            	  <dt><%= link_to '关于我们', about_us_help_url %></dt>
            	</dl>
            	<dl>
            	  <dt><%= link_to '应用介绍', app_info_help_url %></dt>
            	</dl>
            	<dl>
            	  <dt class='focus'><%= link_to '联系方式', contact_info_help_url %></dt>
            	</dl>
            	<dl>
            	  <dt><%= link_to '隐私说明', privacy_info_help_url %></dt>
            	</dl>
            </div>
       
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
      
  </div>
  <!--sidebar-->
  <!--main-->
  <div class="main">
    <div class="content">
      <div class="round_r_t">
      	<div class="round_l_t">
            <div class="round_r_b">
                <div class="round_l_b">
                    <div class="round_m">
                        <div class="round_body s_clear">
                        	<div class="info-title"><h2>联系方式</h2></div>
                            <div class="info-content">
														<p>如果您在使用过程中遇到问题或者对一起游戏网的功能有好的建议与意见，请在左边应用栏中使用汇报错误应用，或者联系任何一个我们的成员，又或者写信到以下邮箱联系。</p>
														<p>联系邮箱：xiexinwang@17gaming.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
  </div>
  <!--main-->
</div>
