<div id="page" class="page_side_wrap s_clear">
  <!--sidebar-->
  <div class="sidebar">
      <div class="round_r_t">
      	<div class="round_l_t">
        <div class="round_r_b">
        <div class="round_l_b">
        <div class="round_m">
        <div class="round_body s_clear">
        
       		<div class="info-nav">
            	<dl>
            	  <dt><%= link_to '关于我们', about_us_help_url %></dt>
            	</dl>
            	<dl>
            	  <dt><%= link_to '应用介绍', app_info_help_url %></dt>
            	</dl>
            	<dl>
            	  <dt><%= link_to '联系方式', contact_info_help_url %></dt>
            	</dl>
            	<dl>
            	  <dt class='focus'><%= link_to '隐私说明', privacy_info_help_url %></dt>
            	</dl>
            </div>
       
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
      
  </div>
  <!--sidebar-->
  <!--main-->
  <div class="main">
    <div class="content">
      <div class="round_r_t">
      	<div class="round_l_t">
            <div class="round_r_b">
                <div class="round_l_b">
                    <div class="round_m">
                        <div class="round_body s_clear">
                        	<div class="info-title"><h2>隐私说明</h2></div>
                            <div class="info-content">
														<p>一起游戏网非常重视对用户隐私权的保护，承诺不会在未获得用户许可的情况下擅自将用户的个人资料信息出租或出售给任何第三方，但以下情况除外:</p>
														<p>您同意让第三方共享资料；</p>
														<p>您同意公开你的个人资料，享受为您提供的产品和服务；</p>
														<p>本站需要听从法庭传票、法律命令或遵循法律程序；</p>
														<p>本站发现您违反了本站服务条款或本站其它使用规定。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
  </div>
  <!--main-->
</div>
