<select onchange="changeVerifyCategory(this.value)">
  <option value=0 <% if selected==0 %>selected='selected'<% end %>>日志</option>
  <option value=1 <% if selected==1 %>selected='selected'<% end %>>状态</option>
  <option value=2 <% if selected==2 %>selected='selected'<% end %>>视频</option>
  <option value=3 <% if selected==3 %>selected='selected'<% end %>>相册</option>
  <option value=4 <% if selected==4 %>selected='selected'<% end %>>照片</option>
  <option value=5 <% if selected==5 %>selected='selected'<% end %>>评论</option>
  <option value=6 <% if selected==6 %>selected='selected'<% end %>>工会</option>
  <option value=7 <% if selected==7 %>selected='selected'<% end %>>活动</option>
  <option value=8 <% if selected==8 %>selected='selected'<% end %>>投票</option>
</select>

<% javascript_tag do %>
  function changeVerifyCategory(idx){
    if(idx==0)
      window.location.href = '/admin/blogs';
    else if(idx==1)
      window.location.href = '/admin/statuses';
    else if(idx==2)
      window.location.href = '/admin/videos';
    else if(idx==3)
      window.location.href = '/admin/albums';
    else if(idx==4)
      window.location.href = '/admin/photos';
    else if(idx==5)
      window.location.href = '/admin/comments';
    else if(idx==6)
      window.location.href = '/admin/guilds';
    else if(idx==7)
      window.location.href = '/admin/events';
    else if(idx==8)
      window.location.href = '/admin/polls';
  }
<% end %>
