<div class="mcAvatar">
  <a href="#"></a>
  <div class="picwrap">
    <div class="middle"><div class="middle-center"><div class="center">
      <%= album_cover @album %>
    </div></div></div>
  </div>
</div>

