    <div class="friend-head space s_clear">
      <span class="left"><%= album_cover_image guild.album, :class => "imgbox01", :size => "clarge", :width => 50, :height => 50 %></span>
      <p class="left">
        <strong><%= text %></strong><br/>
        <%= guild_link guild  %>的主页
      </p>
    </div>

