  <div class="s2m1 guildIntro">
    <div class="title fix"><span class="i iGuild02"></span><h2><strong>公会介绍</strong></h2></div>
    <div class="con">
      <% if guild.president == current_user %>
        <%= in_place_text_area guild, :description, '介绍一下工会?', :param_name => 'guild[description]'  %>
      <% else %>
        <%= simple_format h guild.description %>
      <% end %>
    </div>
  </div>

