<div class="s2m2 guildMember">
  <div class="title fix">
    <div class="wrap">
      <h2 class="fix"><strong>公会会员</strong><span></span></h2>
      <%= link_to "更多", guild_memberships_url(guild, :type => 0), :class => "more" %>
    </div>
    <em></em>
  </div>
  <div class="s2m2bd fix">
    <ul class="fix">
      <% members.each do |m| %>
        <li>
          <%= avatar m, :class => 'imgbox01' %>
          <%= profile_link m, :class => "memberName" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
