<div class="s2m2 guildIntro">
  <div class="title fix">
    <div class="wrap">
      <h2 class="fix" id="tab_feed" onclick="Iyxzone.Guild.Presentor.showFeeds()"><strong>新鲜事</strong><span></span></h2>
      <h2 class="fix unSelected" id="tab_photo" onclick="Iyxzone.Guild.Presentor.showPhotos()"><strong>照片</strong><span></span></h2>
      <h2 class="fix unSelected" id="tab_topic" onclick="Iyxzone.Guild.Presentor.showTopics()"><strong>论坛</strong><span></span></h2>
      <h2 class="fix unSelected" id="tab_wall" onclick="Iyxzone.Guild.Presentor.showWall()"><strong>留言板<% if guild.comments_count != 0 %>(<%= guild.comments_count %>)<% end %></strong><span></span></h2>
    </div>
    <em></em>
  </div>
</div>
