  <div class="multibox">
    <div class="title"><%= link_to "更多", guild_memberships_url(@guild, :type => 0) %><b>会员</b></div>
    <div class="photolist-box gamer-list">
      <ul class="collection s_clear">
      <% @guild_characters.each do |c| %>
        <li>
          <div class="middle"><div class="middle-center"><div class="center"><%= avatar c.user, :class => 'imgbox01' %></div></div></div>
          <p><%= profile_link c.user %></p>
        </li>
      <% end %>
      </ul>
    </div>
  </div>

