<p class='z-h s_clear'>
  <strong class='left'>编辑公会</strong>
  <%= link_to_function '', "facebox.close();", :class => "icon2-close right" %>
</p>
    
<div id='errors'></div>
<div class='z-con'>
<% form_remote_for :guild, :url => guild_url(@guild), :html => {:method => 'put', :id => "guild_form"} do |f| %>  
  <div class="rows s_clear">
    <div class="fldid"><label for="name">工会名字：</label></div>
    <div class="fldvalue">
      <div class="textfield"><%= f.text_field :name %></div>
    </div>
  </div>
  <div class="rows s_clear">
    <div class="fldid"><label for="name">工会描述：</label></div>
    <div class="fldvalue"><%= f.text_area :description %></div>
  </div>
  <div class="z-submit s_clear space">
    <table class="center" cellpadding="0"><tr><td>
      <span class="button"><span><button onclick="Iyxzone.Guild.Builder.update(<%= @guild.id %>, event)">完成</button></span></span>
      <span class="button button-gray"><span><button type="button" onclick="facebox.close();">取消</button></span></span>
    </td></tr></table>
  </div>
<% end %>
</div>
