<% facebox_tag '回复邀请' do %>
  <div id='error'></div>
  <div class='formcontent'>
    <div class="rows s_clear">
      <div class="fldvalue">
			  <%= radio_button :invitation, :status, 1, :onclick => "Iyxzone.Guild.Invitation.accept2(#{@invitation.id}, #{@guild.id});", :id => 'gi_btn1' %><%= label_tag '', '接受' %>
		  </div>
	  </div>
    <div class="rows s_clear">
      <div class="fldvalue">
			  <%= radio_button :invitation, :status, 2, :onclick => "Iyxzone.Guild.Invitation.decline2(#{@invitation.id}, #{@guild.id});", :id => 'gi_btn2' %><%= label_tag '', '拒绝' %>
		  </div>
	  </div>
  </div>
<% end %>
