              <div class="path-box">
                <label><%= guild_link guild %></label>
                <label><%= link_to "相册", guild_album_url(album, :format => 'html') %></label><span>查看照片</span>
              </div>

