<p class='z-h s_clear'>
  <strong class='left'>编辑照片</strong>
  <%= link_to_function '', "facebox.close();", :class => "icon2-close right" %>
</p>

<div class="z-con">
<% form_remote_for :photo, :url => guild_photo_url(@photo, :at => params[:at]), :html => {:method => :put, :onsubmit=> "Iyxzone.disableButton($(edit_photo_submit),'请等待..');"} do |f| %>
<div class='formcontent'>
  <div class="rows s_clear">
    <div class="fldid"><label for="name">照片描述：</label></div>
    <div class="fldvalue">
      <%= f.text_area 'notation' %>
    </div>
  </div>
  <div class="rows s_clear">
    <div class="fldid"><label for="des">所属专辑：</label></div>
    <div class="fldvalue">
      <%= f.label @album.title %> 
    </div>
  </div>
  <% if current_user == @user %>
  <div class="rows s_clear">
    <div class="fldid"><label for="des">专辑封面：</label></div>
    <div class="fldvalue">
      <%= check_box_tag 'photo[cover]', 1, @photo.is_cover? %>设置为公会封面
    </div>
  </div>
  <% end %>
</div>
<div class="z-submit s_clear space">
  <table class="center" cellpadding="0"><tr><td>
    <span class="button"><span><button type="submit" id='edit_photo_submit'>完成</button></span></span>
    <span class="button button-gray"><span><button type="button" onclick="facebox.close();">取消</button></span></span>
  </td></tr></table>
</div>
<% end %>
</div>
