<div class='impress-add s_clear space' id='tag_cloud'> 
<% all_tags = profile.tags.limit(6) %>
<% if all_tags.size > 6 %>
<% tags = all_tags %>
<% else %>
<% tags = all_tags.concat Tag.profile_tags.limit(6) %>
<% end %>
<% tags.map(&:name).each do |name| %>
	<%= link_to_remote "<span>#{name}</span>", :url => profile_tags_url(profile, :tag_name => name),:html=>{:class=> "impress-btn-#{rand(4)}"} %>
<% end %>
</div>
