<ul class='holder' style="border: 0px">
<% Tag.profile_tags.map(&:name).each do |name| %>
	<li class='bit-box'><%= link_to_remote name, :url => profile_tags_url(profile, :name => name) %></li>
<% end %>
</ul>
