<div class="friend-head space s_clear">
  <span class="left"><%= album_cover_image @event.album, :size => 'medium', :class => "imgbox01", :width => 50, :height => 50 %></span>
  <p class="left">
    <strong><%= h text %></strong><br/>
    <%= link_to '活动主页', event_url(@event), :class => 'red' %>
  </p>
</div>
