  <div class="s2m1 eventIntro">
    <div class="title fix">
      <span class="i iGuild02"></span><h2><strong>活动介绍</strong><em></em></h2>
    </div>
    <div class="con">
      <% if event.poster == current_user %>
        <%= in_place_text_area event, :description, '介绍一下活动?', :param_name => 'event[description]'  %>
      <% else %>
        <%= simple_format h event.description %>
      <% end %>
    </div>
  </div>

