        <div class="nav-link">
          <ul class="s_clear">
            <li <% if hover==0 %>class='hover'<% end %>><%= link_to "<span>人气最高</span>", hot_events_url %></li>
            <li <% if hover==1 %>class='hover'<% end %>><%= link_to "<span>最近活动</span>", recent_events_url %></li>
          </ul>
        </div>

