<div class="multibox">
  <div class="title">
    <%= link_to "更多", event_participations_url(@event, :type => 1) %>
    <b>可能参加的人(<%= @event.maybe_count %>)</b>
  </div>
  <div class="photolist-box">
    <ul class="collection s_clear">
      <% @maybe_characters.each do |c| %>
      <li>
        <div class="middle"><div class="middle-center"><div class="center"><%= avatar c.user, :class => 'imgbox01' %></div></div></div>
        <p><%= profile_link c.user %></p>
      </li>
      <% end %>
    </ul>
  </div>
</div>

