<% content_for :html_title, "#{current_user.login} - 好友活动 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login}的好友活动 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% canvas_tag do %>
  <h1 class="app-ploy">活动</h1>
  <div class="box02 canvas_int space">
    <%= render :partial => 'tab', :locals => {:user => current_user, :hover => 2} %>
    <div class="piclist-rows" id='events'>
      <% if @events.count != 0 %>
        <table cellpadding="0" cellspacing="0">
          <%= render :partial => 'event_item', :collection => @events %>
        </table>
        <%= will_paginate @events %>
      <% else %>
        <div class='tip'>你的好友最近都人间蒸发了，没人创建活动</div>
      <% end %>
    </div>
  </div>
<% end %>
