<p class="z-h s_clear">
  <strong class="left">提示</strong>
  <%= link_to_function '', "facebox.close();", :class => "icon2-close right" %>
</p>

<div class='z-con'>
  <div class='tip'>同一个资源只能分享一次</div>
</div>
