<div class='rows s_clear' style="position:relative;z-index: <%= z_index %>">
  <div class='fldid'><%= title %></div>
  <div class='fldvalue'>
    <div class="selector selector03 select-toggle s_clear">
      <%= text_field_tag 'game[name]', '' %>
      <div id='rel_game_list' class='drop-menu' style="display:none"></div>
    </div>
  </div>
</div>
