log/*
dict/*
index/*
tmp/*
public/blog_images/*
public/game_details/*
public/area_details/*
public/game_list_details/*
public/mini_images/*
public/photos/*
public/news_pictures/*
public/regions/*
public/images/gamepic
config/database.yml
config/juggernaut_hosts.yml
juggernaut.yml
