      <div class="path-box">
        <div class="left">
        <%= "共#{count}篇日志" %>
        <%= link_to '上一篇', blog_url(prev_blog) %> |
        <%= link_to '下一篇', blog_url(next_blog) %> <br/>
        </div>
      </div>    

