      <div class="path-box">
        <div class="left">
        <%= "共#{@count}篇日志" %>
        <%= link_to '上一篇', blog_url(@prev) %> |
        <%= link_to '下一篇', blog_url(@next) %> <br/>
        </div>
      </div>    

