<% answer = answer_input %>
<div class='poll_answer'>
<% fields_for "answers[]", answer do |form| %>
  <%= label_tag '', "选项" %>
  <%= form.text_field :description %>
  <%= link_to_function "delete", "$(this).up('.poll_answer').remove();" %>
<% end %>
</div>
