<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>17gaming</title>
</head>

<body>

<div style="width:600px;font-size:12px;font:Tahoma, Geneva, sans-serif">
	<div><img src="images/head.png" alt="17gaming" border="0" /></div>
    
    <div style="float:left;width:120px;padding-top:10px"><img src="images/smile_face.jpg" border="0" /></div>
    <div style="line-height:22px;padding:10px 0;float:left;width:320px">
        <div style="font-size:18px;font-weight:700;line-height:35px;color:#db5903">*****，您好</div>
        <div style="line-height:22px;color:#333">我们注意到您已经有一周时间未登陆17gaming(一起游戏网)，一起游戏网新增了好多功能，新的会员，精彩不容错过！</div>
    </div>
    <div style="float:left;width:120px;padding:40px 0 0 10px"><a href="#" target="_blank"><img src="images/login.png" alt="立刻登陆" border="0" /></a></div>
	<table width="100%" border="0" cellspacing="5" cellpadding="0">
      <tr>
        <td style="text-align:center;width:150px"><a href="#" target="_blank"><img src="images/t001.jpg" alt="xxxxx" border="0" /></a></td>
        <td style="text-align:center;width:150px"><a href="#" target="_blank"><img src="images/t001.jpg" alt="xxxxx" border="0" /></a></td>
        <td style="text-align:center;width:150px"><a href="#" target="_blank"><img src="images/t001.jpg" alt="xxxxx" border="0" /></a></td>
        <td style="text-align:center;width:150px"><a href="#" target="_blank"><img src="images/t001.jpg" alt="xxxxx" border="0" /></a></td>
      </tr>
      <tr>
        <td style="text-align:center;height:30px"><a href="#" style="color:#db5903;text-decoration:none;font-size:14px;font-weight:700" target="_blank">永恒之塔公会</a></td>
        <td style="text-align:center;height:30px"><a href="#" style="color:#db5903;text-decoration:none;font-size:14px;font-weight:700" target="_blank">永恒之塔公会</a></td>
        <td style="text-align:center;height:30px"><a href="#" style="color:#db5903;text-decoration:none;font-size:14px;font-weight:700" target="_blank">永恒之塔公会</a></td>
        <td style="text-align:center;height:30px"><a href="#" style="color:#db5903;text-decoration:none;font-size:14px;font-weight:700" target="_blank">永恒之塔公会</a></td>
      </tr>
    </table>
    
    <div style="background-color:#e5e5e5;padding:5px"><a href="#" target="_blank" style="color:#333;text-decoration:none">更多精彩就在17gaming >></a></div>
    <div style="float:left;width:290px;padding:5px"><strong style="line-height:40px;color:#333">最热门的投票</strong><br />
    	<ul style="list-style:none;margin:0;padding:0">
    	  <li style="line-height:24px"><a href="#" target="_blank" style="color:#333;text-decoration:none;">如果可以的話 你是否想回到一夫多妻制？</a></li>
    	  <li style="line-height:24px"><a href="#" target="_blank" style="color:#333;text-decoration:none;">如果可以的話 你是否想回到一夫多妻制？</a></li>
    	  <li style="line-height:24px"><a href="#" target="_blank" style="color:#333;text-decoration:none;">如果可以的話 你是否想回到一夫多妻制？</a></li>
    	  <li style="line-height:24px"><a href="#" target="_blank" style="color:#333;text-decoration:none;">如果可以的話 你是否想回到一夫多妻制？</a></li>
    	  <li style="line-height:24px"><a href="#" target="_blank" style="color:#333;text-decoration:none;">如果可以的話 你是否想回到一夫多妻制？</a></li>
    	</ul>
    </div>
    <div style="float:left;width:290px;padding:5px"><strong style="line-height:40px;color:#333">最热新闻</strong><br />
    	<ul style="list-style:none;margin:0;padding:0;line-height:24px">
    	  <li style="line-height:24px"><a href="#" target="_blank" style="color:#333;text-decoration:none;">传盛大收购联众 星际2再度延期</a></li>
    	  <li style="line-height:24px"><a href="#" target="_blank" style="color:#333;text-decoration:none;">传盛大收购联众 星际2再度延期</a></li>
    	  <li style="line-height:24px"><a href="#" target="_blank" style="color:#333;text-decoration:none;">传盛大收购联众 星际2再度延期</a></li>
    	  <li style="line-height:24px"><a href="#" target="_blank" style="color:#333;text-decoration:none;">传盛大收购联众 星际2再度延期</a></li>
    	  <li style="line-height:24px"><a href="#" target="_blank" style="color:#333;text-decoration:none;">传盛大收购联众 星际2再度延期</a></li>
    	</ul>
    </div>
    <div style="clear:both">&nbsp;</div>
    <div style="background-color:#73bd21;color:#fff;padding:5px;text-align:center">Copyright©2009-2010 17gaming.com.All Rights Reserved 一起游戏网</a> 版权所有 </div>
</div>


</body>
</html>
