        <h4><%= link_to_function "直接发送Email邀请", "this.up().next().toggle();this.up().next().next().toggle();" %></h4>
        <div class="invite-tip jl-cutline">填写朋友的Email地址，就可以邀请对方加入了，对方会直接加入你的好友。</div>
        <div class="invite-email jl-cutline" style="display:none">
          <div id='email_invite'></div>
          <% form_remote_for :invite, :url => signup_invitations_url, :condition => "Iyxzone.ContactsGrabber.checkEmailInvitation(this)" do |f| %>
          <div class="s_clear space">
            <div class="fldid"><label>好友邮箱 </label></div>
            <div class="fldvalue">
              <div class="textfield"><%= text_field_tag 'email', "例如： abc@abc.com", :onclick => "$(email).clear();" %></div>
            </div>
          </div>
          <div class="s_clear space">
            <div class="fldid">&nbsp;</div>
            <div class="fldvalue">
              <span class="button"><span><button type="submit" id='email_invitation_btn'>发送邀请</button></span></span>
            </div>
          </div>
          <% end %>
        </div>

