<%= javascript_include_tag "contacts_grabber" %>

<div id='contacts'>
正在获取联系人
<%= image_tag '/images/loading.gif' %>
</div>

<!-- 为了安全，不显示password，只显示用户名，然后password存在session里 -->
<%= javascript_tag "Iyxzone.ContactsGrabber.grabNotFriendContacts('#{params[:type]}', '#{params[:user_name]}', '#{form_authenticity_token}')" %>
