<% content_for :html_title, "#{@user.login}的粉丝团 - 17Gaming.com" %>
<% content_for :html_description, "#{@user.login}的粉丝团 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@user.login}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% canvas_tag do %>
  <%= render :partial => 'user/profiles/profile_header', :locals => {:text => "#{@user.login}的粉丝团"} %>
  <div class="box02 canvas_int space">
    <%= render :partial => 'user/friends/other_tab', :locals => {:user => @user, :hover => 2} %>
    <div class="friend-box">
      <div class="appcontent01">
        <div class='d6-head'>
          <strong class='gray'>有<%= @fans.total_entries %>个粉丝</strong>
        </div>
        <div class="d6-list s_clear">
					<%= render :partial => 'fans', :locals => {:fans => @fans, :remote => nil, :idol => @user} %>
        </div>
      </div>
    </div>
  </div>
<% end %>
