<div class="tab tab01">
    <ul id='feed_menu'>
      <li class='hover' id='tab_all'><span><%= link_to_function "新鲜事", "Iyxzone.Home.Feeder.showFeeds(#{current_user.id}, 'all', #{fetch_size});" %></span></li>
      <li id='tab_blog'><span><%= link_to_function "日志", "Iyxzone.Home.Feeder.showFeeds(#{current_user.id}, 'blog', #{fetch_size});" %></span></li>
      <li id='tab_photo'><span><%= link_to_function "照片", "Iyxzone.Home.Feeder.showFeeds(#{current_user.id}, 'photo', #{fetch_size});" %></span></li>
      <li id='tab_video'><span><%= link_to_function "视频", "Iyxzone.Home.Feeder.showFeeds(#{current_user.id}, 'video', #{fetch_size});" %></span></li>
    </ul>
  </div>
