<div class="tab tab01">
    <ul id='feed_menu'>
      <li class='hover' id='tab_all'><span><%= link_to_function "新鲜事", "Iyxzone.Home.Feeder.showFeeds('all');" %></span></li>
      <li id='tab_blog'><span><%= link_to_function "日志", "Iyxzone.Home.Feeder.showFeeds('blog');" %></span></li>
      <li id='tab_album'><span><%= link_to_function "照片", "Iyxzone.Home.Feeder.showFeeds('album');" %></span></li>
      <li id='tab_video'><span><%= link_to_function "视频", "Iyxzone.Home.Feeder.showFeeds('video');" %></span></li>
    </ul>
  </div>
