<% delivery = friendship_feed_delivery %>
<% friendship_feed = delivery.feed_item %>
<% friendship = friendship_feed.originator %>
<% if friendship_feed.data[:friend] == friendship.user_id  %>
	<% user = friendship.user %>
	<% friend = friendship.friend %>
<% else %>
	<% user = friendship.friend %>
	<% friend = friendship.user %>
<% end %>

<% render :layout => 'user/home/small_feed_delivery', :locals => {:delivery => delivery, :poster => user} do %>
	<%= profile_link user %> 和 <%= profile_link friend , :class => "shine" %> 成为了好朋友 <%= ftime delivery.created_at %>
	<span class="gray"><%= ftime delivery.created_at %></span>
<% end %>
