      <% group_deliveries(feed_deliveries).each do |time, deliveries| %>
        <div class="feed-list-box">
          <h4><span><%= time %></span></h4>
        </div> 
        <% deliveries.each do |f| %>
          <%= render :partial => "user/home/#{f.feed_item.originator.class.base_class.name.underscore}_feed_delivery", :object => f, :locals => {:with_comments => false}%>
        <% end %>
      <% end %>

