      <div class="multibox">
        <div class="title">
          <%= facebox_link "更多", profile_viewings_url(current_user.profile) %>
          <b>最近来访</b>
        </div>
        <div class="photolist-box">
          <ul class="collection s_clear">
            <% @viewings.each do |r| %>
              <li>
                <div class="middle"><div class="middle-center"><div class="center"><%= avatar r.viewer, :class => 'imgbox01' %></div></div></div>
                <p><%= profile_link r.viewer %></p>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
