<div class="mBlogFeed">
  <div class="feedHd fix">
    <strong class="t">大家正在说</strong>
    <%= link_to "更多", public_mini_blogs_url, :class => "more" %>
    <div class="hotWords">热词：
      <% topics.each do |t| %>
        <%= link_to "#{t[1].name}(#{t[0]})", search_mini_blogs_url(:key => t[1].name) %>
      <% end %>
    </div>
  </div>
  <div class="feedBd">
    <% mini_blogs.each do |mb| %>
      <%= render :partial => 'user/home/talking', :locals => {:mini_blog => mb} %>
    <% end %>
  </div>
</div>
