<div class="mBlogFeed">
  <div class="feedHd fix">
    <strong class="t">大家正在说</strong>
    <%= link_to "更多", public_mini_blogs_url, :class => "more" %>
    <div class="hotWords">热词：
      <% hot_words.each do |t| %>
        <%= link_to "#{t.name}", search_mini_blogs_url(:key => t.search_key) %>
      <% end %>
    </div>
  </div>
  <div class="mBlogPostList space" id='mini_blogs_list'>
    <%= render :partial => 'user/mini_blogs/interested_mini_blog', :collection => mini_blogs, :locals => {:at => 'talking'} %>
  </div>
</div>
