<ul>
  <% friends.each do |f| %>
  <li>
    <%= avatar f, :class => 'imgbox01' %>
    <p>
      <%= link_to "<strong>#{h f.login}</strong>", profile_url(f.profile) %>
      <br/>
      <% if f != current_user %>
      <%= facebox_link '<span class="icon-friend02"></span>加为好友', new_friend_request_url(:friend_id => f.id), :class => 'red' %>
      <% end %>
    </p>
  </li>
  <% end %>
</ul>

<%= will_paginate friends %>
