<% delivery = event_feed_delivery %>
<% event = delivery.feed_item.originator %>

<% render :layout => 'user/feed_deliveries/feed_delivery', :locals => {:delivery => delivery, :poster => event.poster} do %>
	    <%= profile_link event.poster %> 组织了活动 <%= event_link event, :class => "shine" %>
	    <p class='gray jl-con'><strong>游戏分类：<%= event.game.name %></strong></p>
	    <p class="gray"><%= ftime delivery.created_at %></p>
<% end %>
