<% delivery = vote_feed_delivery %>
<% vote = delivery.feed_item.originator %>
<div class='feed-list' id='feed_delivery_<%= delivery.id %>'>
  <div class="feed-icon icon-friend"></div>
  <p><%= profile_link vote.voter %> 参与了投票 <%= poll_link vote.poll %> </p>
  <div><% if feed_delivery_deleteable_by_current_user delivery %><%= link_to_remote "x", :url => feed_delivery_url(delivery), :method => :delete %><% end %></div> 
</div> 
