<% delivery = guild_feed_delivery %>
<% guild = delivery.feed_item.originator %>
<div class='feed-list' id='feed_delivery_<%= delivery.id %>'>
  <div class="feed-icon icon-friend"></div>
  <p><%= profile_link guild.president %> 创建了工会 <%= guild_link guild %> </p>
  <div><%= yield %></div>
</div>
