        <div class="path-box">
          <label><%= guild_link guild %></label>
          <span>相册</span>
          <div class="topIsay right"><span class="button04"><span><%= facebox_button "我来说说", new_mini_blog_url(:content => "#{album.title} #{SITE_URL}/guild_albums/#{album.id}"), :width => 500 %></span></span></div>
        </div>
