        <div class="path-box">
          <label><%= guild_link @guild %></label>
          <span>相册</span>
          <%= facebox_link '分享', new_sharing_url(:url => guild_album_url(@album)), :width => 450, :class => 'right love-btn' %>
        </div>

