<div class='multibox'>
  <div class='title'><%= link_to '更多', game_comrades_url(game) %><b>同服玩家</b></div>
  <div class='photolist-box gamer-list'>
      <ul class='collection s_clear'>
      <% comrades.each do |character| %>
        <li>
          <div class="middle"><div class="middle-center"><div class="center"><%= avatar character.user, :class => "imgbox01" %></div></div></div>
          <p><strong><%= profile_link character.user %></strong></p>
          <p><%= character.name %></p>
        </li>
      <% end %>
      </ul>
  </div>
</div>

