<div id="feed_list">
  <%= render :partial => 'user/feed_deliveries/group_deliveries', :locals => {:feed_deliveries => feed_deliveries} %>
</div>
<div class="s_clear"></div>
<div id='more_feed_panel'>
  <div class="round04 round_r_t jl-read-more space s_clear">
    <div class="round_l_t">
      <div class="round_r_b">
        <div class="round_l_b">
          <div class="round_m">
            <div class="round_body" id="more_feed_link">
              <% if feed_deliveries.size < fetch_size %>
                <div class='jl-more'>没有更多了...</div>
              <% else %>
                <%= link_to_function "更多新鲜事", "Iyxzone.Game.Presentor.moreFeeds();", :class => "jl-more"%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
