<div class="s2m2 gameIntro">
  <div class="title fix">
    <div class="wrap">
      <h2 class="fix" id="tab_feed" onclick="Iyxzone.Game.Presentor.showFeeds()"><strong>新鲜事</strong><span/></h2>
      <h2 class="fix unSelected" id="tab_blog" onclick="Iyxzone.Game.Presentor.showBlogs()"><strong>日志</strong><span/></h2>
      <h2 class="fix unSelected" id="tab_album" onclick="Iyxzone.Game.Presentor.showAlbums()"><strong>相册</strong><span/></h2>
      <h2 class="fix unSelected" id="tab_wall" onclick="Iyxzone.Game.Presentor.showWall()"><strong>留言板<% if game.comments_count != 0 %>(<%= game.comments_count %>)<% end %></strong><span/></h2>
    </div>
    <em></em>
  </div>
</div>

