    <div class="friend-head space s_clear">
      <span class="left"></span>
      <p class="left">
        <strong><%= text %></strong><br />
        <%= link_to '游戏主页', game_url(@game), :class=>'red'%>
      </p>
    </div>
