<div class="mcAvatar" style="width:100px; height: 141px" >
  <a href="#"></a>
  <div class="picwrap">
    <div class="middle"><div class="middle-center"><div class="center">
      <%= game_image @game.name, :class => 'game-m' %>
    </div></div></div>
  </div>
</div>

