<div class="multibox s_clear">
  <div class="title"><b id='tag_cloud_head'>
    <% if game.is_taggable_by? current_user %>
      你对这个游戏的印象是
    <% else %>
      玩家印象
    <% end %>
  </b></div>
  <div id='tag_cloud'>
  <% if game.is_taggable_by? current_user %>
    <div class='rows s_clear'>
    <%= render :partial => 'user/games/tags/game_tag', :locals => {:game => game} %>
    <% form_remote_for :tag, :url => game_tags_url(game), :html => {:onsubmit=> "Iyxzone.disableButton($(tag_submit),'请等待..');"} do |f| %>
      <p class='space'>都不贴切？自己想个</p>
      <div class='textfield04 left space'><%= text_field_tag 'tag_name', '' %></div>
      <div class="fldbtn left space"><span class="button04"><span><button id='tag_submit' type="submit">评价</button></span></span></div>
    <% end %>
    </div>
  <% else %>
    <%= render :partial => 'user/games/tags/tag_cloud', :locals => {:game => game} %>
  <% end %>
  </div>
</div>

