<% content_for :html_title, "#{current_user.login} - 热门关注游戏 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login}热门关注游戏 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% content_for :javascript_include do %>
  <%= javascript_include_merged :game %>
<% end %>

<% canvas_tag do %>
		<h1 class="app-game">游戏</h1>
    <div class="box02 canvas_int space">
      <%= render :partial => 'tab', :locals => {:user => current_user, :hover => 0} %>
	    <div class="piclist-rows">
        <%= render :partial => 'hot_nav', :locals => {:hover => 1} %>
		    <%= render :partial => 'game_items', :object => @games %>
      </div>
    </div>
<% end %>
