  <div class='friend' id='<%= "participant_#{participant.id}" %>'>
    <%= avatar participant %>
    <div class='user-link' >
      <%= profile_link participant %><br/>
    </div>
    <div class='operation'>
    </div>
  </div>
