<table>  
  <% i = 0 %>
  <% @friends.each do |friend| %>
    <% if i == 0%>
      <tr>
    <% end %>
    <td class='icon' onmouseover="Iyxzone.Invitation.Builder.onMouseOver(this, #{friend.id});" onmouseout="Iyxzone.Invitation.Builder.onMouseOut(this, #{friend.id});" onclick="Iyxzone.Builder.onClick(this, #{friend.id});">
      <%= avatar_image friend %>
      <%= friend.login %>
    </td>
    <% i = i + 1 %>
    <% if i == 4 %>
      </tr>
      <% i = 0 %>
    <% end %>
  <% end %>
</table>
