body{font-size:12px;font-family:Arial,Simsun,"宋体",Helvetica;color:#0a3100;height:100%}
body,div,form,img,ul,ol,li,p,pre,button,dd,dt,dl{margin:0; padding:0;border:0;}
table{border:0;border-collapse:collapse;border-spacing:0;}
h1,h2,h3,h4,h5,h6,fieldset{margin:0; padding:0;}


ul,ol{list-style:none;}
input{font-size:12px;vertical-align:middle}
textarea{font-size:12px;overflow:auto;color:#7E7F80;border:1px solid #bdd6ad}
select{color:#7E7F80;}

.space{margin-top:10px}
.space20{margin-top:20px}

h1,h2{font-size:14px;}
h3,h4,h5{font-size:12px;}
h6{font-size:16px;}
h2,h4{font-weight:normal;}
.t-xl{font-size:16px;color:#333}

a{color:#7E7F80;text-decoration:none;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover{color:#D63200;text-decoration:none;}
a:active {text-decoration: none;}

.time{color:#999}
.red{color:#BF3A00}
.gray{color:#808080;}
.gray02{color:#333;}
.blue{color:#004484}
.skyblue{color:#045FD2}
.green{color:#25700d/*009933*/}
.orange{color:#FF6600}
.purple{color:#6859AF}
.tip01{color:#7fb73d}
.warning{color:red}

#nobd,.nobd{border:none}
.bd-bt{border-bottom:1px solid #bdd6ad}
.tl{text-align:left}


/*横竖居中begin */
.middle{display:table;_position:relative;width:100%;height:100%;overflow:hidden}
.middle .middle-center,.middle .middle-left{vertical-align:middle;display:table-cell;_position:absolute;_top:50%;_left:50%}
.middle .middle-center .center,.middle .middle-left .left{_position:relative;_top:-50%;_left:-50%;}
.middle .middle-left{_left:0;} 
.middle .middle-left .left{_left:0;float:none}  
.middle img{_margin-top:3%;}
/*横竖居中end*/

.left{float:left;}
.right{float:right;}
.fix:after,.s_clear:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.fix,.s_clear{zoom:1;}
.clear,.rows,.buttons{clear:both;}

.blk{display:block}
.nowrap,.member-name,.role-name{overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;word-wrap:normal;white-space:nowrap;word-break:keep-all;display:inline-block;}

.top-banner{margin:0 auto 1px auto;width:940px;overflow:hidden}
.welcome-box .top-banner{width:970px;}


.path-box{height:17px;line-height:17px;overflow:hidden}
.path-box label,.path-box span{display:block;float:left;margin-right:12px;}
.path-box .topIsay span{margin-right:0}
.path-box label{color:#25700D;padding-right:13px;background:url(../images/skin/arrow.gif) no-repeat right -17px;}
.path-box span{color:#7E7F80}
.path-box span b{margin-left:5px;font-weight:400;color:#000;}
.path-box ul{float:right;}
.path-box li{_display:inline;height:17px;float:left;margin:0 13px;padding-left:22px;background:url(../images/icons/homeIcons.gif) no-repeat left -855px;}
.path-box li.icon-photo{background-position:left -911px}
.path-box li.icon-del{background-position:left -969px}
.path-box li a{color:#000;}
.path-box li a:hover{color:#D63200;}

/*.rect-box{float:left;padding-left:9px;height:20px;line-height:20px;_line-height:21px;background:url(../images/skin/rect-box01.gif) no-repeat;overflow:hidden}
.rect-box .rect-wrap{float:left;padding-right:7px;height:100%;background:url(../images/skin/rect-box01.gif) no-repeat right -56px;}
.rect-box .rect{float:left;height:100%;background:url(../images/skin/rect-box01.gif) repeat-x left -28px}
*/
table.center{margin:0 auto;}
table.center td{vertical-align:top}

#footer{padding:18px 0 9px;text-align:center;line-height:15px;color:#7E7F80}

.box01{border:1px #238204 solid;background:#fff}
.box02{border:1px #E7F0E0 solid;background:#fff;zoom:1}
.box03{border:1px #EEDEA0 solid;background:#FDFBE2}
.box04{border:1px #E7F0E0 solid;background:#F8FCF6}
.box05{border:1px #BBD2AA solid;background:#fff}
.box05 .title01{padding:0 5px 0 10px;border:1px #EDF8D8 solid;border-bottom:0;height:26px;line-height:26px;background:url(../images/skin/skin2010.png) repeat-x 0 -507px;overflow:hidden;color:#fff;}
.box05 .title01 .icon-active{margin-top:6px;float:right;}
.box05 .title01 select{margin-top:2px;_margin-top:1px;}
.box05 .foot{padding:12px 11px;line-height:22px;border-top:1px #E7F0E0 solid;background:#F8FCF6;}
.box06{background:#f0feec}

/*图片样式*/
.imgbox01{border:1px #E7F0E0 solid;background:#fff;padding:4px;}
.imgbox02{border:1px #BBD2AA solid;background:#fff;padding:4px;}
.imgwrap{text-align:center;overflow:hidden;}

.picbox01{padding:4px 4px 8px;width:112px;height:112px;background:url(../images/skin/picBox01.gif) no-repeat;overflow:hidden;position:relative}
.picbox01 a.btn{display:block;width:120px;height:124px;position:absolute;left:0;top:0;background:url(../images/skin/picBox01.gif);background-repeat:no-repeat;background-position:left -500px;}
.picbox01 a.new{background-position:left -261px;}
.picbox01 .picwrap{width:100%;height:100%;overflow:hidden}
.picbox01 .picwrap table{width:100%;height:100%;}
.picbox01 .picwrap td{text-align:center;}

.picbox01-wide{padding:13px 6px 16px 17px;width:297px;height:95px;overflow:hidden; background:url(../images/skin/picBox01.gif) no-repeat left -131px;position:relative} 
.picbox01-wide .new{width:36px;height:36px;position:absolute;left:0;top:0;background:url(../images/skin/picBox01.gif) no-repeat left -261px;}
.picbox01-wide .img{float:left;width:86px;height:95px;overflow:hidden}
.picbox01-wide .img table{height:100%;margin:0 auto;}
.picbox01-wide .info{margin-left:95px;_margin-left:92px;line-height:16px;}
.picbox01-wide .info h4{padding-left:4px;height:16px;overflow:hidden}
.picbox01-wide .info h4 a{margin-right:19px;font-weight:bold;}
.picbox01-wide .info h4 span{color:#D63200}
.picbox01-wide .info p{padding-left:4px;color:#7E7F80}
.picbox01-wide .info ul{display:block;margin:3px 0;height:60px;overflow:hidden}
.picbox01-wide .info li{_display:inline;float:left;margin:0 3px;*margin:0 !important;_margin:0 3px;}

.comment-simple-box{padding:0 5px 20px;background:url(../images/skin/skin2010.png) no-repeat -58px -164px;width:44px;height:20px;line-height:20px;text-align:center;color:#199D09;font-size:14px;overflow:hidden}
.comment-simple-box b{display:block;height:100%;overflow:hidden}
/*图片样式*/

/*图片展示*/
.collection{width:100%;}
.collection td{text-align:center;overflow:hidden;vertical-align:top;}
.collection li{float:left;text-align:center;overflow:hidden}
.collection li span{overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;word-wrap:normal;white-space:nowrap;word-break:keep-all;display:inline-block;width:60px}
.collection td p,.collection li p{margin-top:2px;line-height:20px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;word-wrap:normal;white-space:nowrap;word-break:keep-all;}
.collection .middle{width:100%;height:60px;}
/*图片展示*/

/*菜单列表*/
.menu-bg-list li{border-bottom:1px #E7F0E0 solid;height:30px;line-height:30px;overflow:hidden;position:relative}
.menu-bg-list li a{display:block;height:100%;padding:0 5px 0 14px;color:#25700D}
.menu-bg-list li a:hover{background:#f1f9e1;color:#25700D}
.menu-bg-list li a span{color:#7E7F80}
.menu-bg-list li.current a,.menu-bg-list li.current a:hover{background:#7BBE31;color:#000}
.menu-bg-list li.current a span{color:#fff}
.menu-bg-list .item-bottom{height:30px;line-height:30px;padding-left:14px;}
.menu-bg-list .item-bottom a{color:#D63200}
.menu-bg-list .item-bottom a:hover{text-decoration:underline}

.menu-icon-list li{margin:15px 0}
.menu-icon-list li a span{color:#25700d}

/*homeIcons*/
/*.photo-op-mark,.photo-op-edit,.photo-op-praise,.photo-op-share,.photo-op-del,.vote-op-add,.vote-op-edit,.vote-op-time,.vote-op-invite,.vote-op-del,{display:inline-block;background:url(../images/icons/homeIcons.png) no-repeat;margin:0 5px;width:16px;height:16px; vertical-align:middle;}
*/
.feed-icon,dl.menu-op dt,.photo-op-mark,.photo-op-edit,.photo-op-praise,.photo-op-share,.photo-op-del,.vote-op-add,.vote-op-edit,.vote-op-time,.vote-op-invite,.vote-op-del,.icon-trash,.icon-read,.icon-data,.icon-state,.icon-game,.icon-blog,.icon-photo,.icon-video,.icon-share,.icon-vote,.icon-act,.icon-cons,.icon-friend,.icon-friend02,.icon-gift,.icon-minus,.icon-plus,.icon-notice,.icon-success,.icon-heart,.icon-warn,.icon-camera,.i-avatar,.i-mail,.i-hello,.i-msg,.i-friend,.i-theme,.icon-error,.icon-warning,.icon-msn,.icon-qq,.icon-link,.icon-mail,.i-share-friend,.icon-home,.icon-invitation,.icon-up,.icon-down{background:url(../images/icons/homeIcons.png) no-repeat;display:inline-block;margin-right:5px;width:16px;height:16px; vertical-align:middle;}
.icon-data{background-position:0 0}
.icon-state{background-position:0 -16px}
.icon-game{background-position:0 -32px}
.icon-blog{background-position:0 -48px}
.icon-photo{background-position:0 -64px;}
.icon-video{background-position:0 -80px;}
.icon-share{background-position:0 -96px;}
.icon-vote{background-position:0 -112px;}
.icon-act{background-position:0 -128px;}
.icon-cons{background-position:0 -144px;}
.icon-friend{background-position:0 -160px;}
.icon-friend02{background-position:0 -336px;}
.icon-trash{background-position:0 -352px;}
.icon-read{background-position:0 -368px;}
.icon-gift{background-position:0 -384px;}
.icon-minus{background-position:0 -400px;}
.icon-plus{background-position:0 -304px;}
.icon-notice,.icon-success{background-position:0 -416px;}
.icon-error{background-position:0 -560px;}
.icon-warning{background-position:0 -576px;}
.icon-heart{background-position:0 -432px;}
.icon-warn{background-position:0 -448px;}
.icon-camera{background-position:0 -464px;}
.icon-msn{background-position:0 -624px;}
.icon-qq{background-position:0 -608px;}
.icon-link{background-position:0 -592px;}
.icon-mail{background-position:0 -640px;}
.icon-home{background-position:0 -816px;}
.icon-invitation{background-position:0 -288px;}
.icon-up{background-position:0 -832px;}
.icon-down{background-position:0 -848px;}

.quote-start,.quote-end,.icon-movie{background:url(../images/skin/skin2010.png) no-repeat;display:inline-block;width:16px;height:16px; vertical-align:middle;}
.quote-start{background-position:-108px -72px;margin-right:5px}
.quote-end{background-position:-124px -73px;margin-left:5px}
.icon-movie{width:18px;height:10px;background-position:-147px -74px;}

.i-avatar{background-position:0 -480px;}
.i-mail{background-position:0 -496px;}
.i-hello{background-position:0 -512px;}
.i-msg{background-position:0 -528px;}
.i-friend{background-position:0 -544px;}
.i-theme{background-position:0 -656px;}
.i-share-friend{background-position:0 -800px;}

/*end*/

.menu-icon-list01 li{padding:3px 0 3px 25px;background:url(../images/icons/homeIcons.gif) no-repeat left -2000px;height:16px;line-height:16px;overflow:hidden}
.menu-icon-list01 li a span{color:#D63200}
.menu-icon-list01 li a:hover{text-decoration:underline}
.menu-icon-list01 li.icon-add{background-position:left -424px}
.menu-icon-list01 li.icon-invite{background-position:left -482px}

.menu-list li{line-height:20px;}
.menu-list li span{color:#25700D}
.menu-list li a{color:#666}
.menu-list li a:hover{color:#D63200}
/*菜单列表*/
.gobtn{display:block;width:22px;height:19px;background:url(../images/skin/skin2010.png) no-repeat -21px 0;cursor:pointer}
.loginbtn,.registbtn{display:block;background:url(../images/skin/skin2010.png) no-repeat;width:164px;height:36px;cursor:pointer}
.loginbtn{background-position:-36px -127px}
.registbtn{background-position:-36px -90px}
.active-main-btn,.active-main-btn:hover,.active-btn,.active-btn:hover{display:block;background:url(../images/skin/skin2010.png) no-repeat -35px -309px;width:164px;height:36px;line-height:36px;font-size:14px;color:#fff;text-align:center;font-weight:700;cursor:pointer}
.vote-icon{display:block;padding-left:41px;height:31px;line-height:normal;background:url(../images/icons/ployIcons.png) no-repeat 0 -189px;overflow:hidden}
.vote-icon h5{font-size:14px;color:#055A83}

input.gobtn,input.loginbtn,input.registbtn{display:inline-block;border:0;}

/*特殊组件*/
.selector{width:268px;height:24px;line-height:24px;border:1px #bdd6ad solid;background:#fff;position:relative;/*background:url(../images/skin/tf01.png) no-repeat;*/}
.selector .dropbox{position:relative;clear:both;}
.selector input{margin:4px 5px 0;height:16px;color:#7E7F80;border:0;background:none}
.selector a{float:right;display:block;width:24px;height:24px;background:url(../images/skin/skin2010.png) no-repeat 4px -21px;overflow:hidden}

.selector02{width:200px;}
.selector02 a{background:url(../images/skin/skin2010.png) no-repeat 3px 3px;}

.selector .drop-menu{background:#fff;position:absolute;left:-1px;border:1px #699D3F solid;width:278px; z-index:2;}
.selector .drop-menu ul{border:1px #fff solid;}
.selector .drop-menu li{height:21px;line-height:21px;overflow:hidden;}
.selector .drop-menu li a{float:none;padding:0 5px;width:266px;height:100%;color:#333;background:#FFF}
.selector .drop-menu li a:hover{background:#74BC20;color:#fff;}
.selector-side,.selector-side .drop-menu{width:167px;}
.selector-side .drop-menu li a{width:155px;}

.textfield{/*padding:0 5px;*/height:24px;line-height:24px;border:1px #bdd6ad solid;background:#fff;/*background:url(../images/skin/tf01.png) no-repeat;*/}
.textfield input{margin:3px 0 0;width:100%;height:16px;color:#7E7F80;border:0;background:none}
/*日历*/
.calendar-field input{padding:0 5px;width:200px;height:24px;line-height:24px;border:1px #bdd6ad solid;color:#7E7F80;background:#fff;margin-right:3px}
.calendar-field img{vertical-align:middle}

.textarea{border:1px #E7F0E0 solid;background:#fff;width:350px;height:65px;}
/*特殊组件*/

/*按钮样式*/
.button{float:left;cursor:pointer;display:block;background:url(../images/skin/btn2010.png) no-repeat right 0;padding:0 10px 0 0;}
.button span{display:block;padding:0 0 0 10px;background:url(../images/skin/btn2010.png) no-repeat;}
.button span button,.button span a{cursor:pointer;display:block;margin:0 -10px;padding:0 10px 2px;height:20px;line-height:20px;color:#fff;background:none;font-weight:bold;white-space:nowrap;width:auto;}

a.button,a.button:hover{height:20px;line-height:19px;_line-height:21px;padding:0 16px 0 0;color:#fff;font-weight:bold;overflow:hidden}
a.button span{float:left;height:100%;padding:0 0 0 16px;}
a.button-gray,a.button-gray:hover{font-weight:normal;color:#666}

.button-gray{background-position:right -25px;}
.button-gray span{background-position:0 -25px;}
.button-gray span button,.button-gray span a{font-weight:normal;color:#666}

.attention-btn,.love-btn,.share-btn,.concern-btn,.concern-btn02{background:url(../images/skin/skin2010.png) no-repeat;display:inline-block;width:83px;height:20px;line-height:20px;text-align:center;text-indent:25px;color:#508119}
.attention-btn{background-position:-117px -267px;}
.love-btn,.share-btn{background-position:-117px -288px;}
.concern-btn{background-position:0 -448px}
.concern-btn02{background-position:-83px -716px;width:117px;display:block}

.icon-active{display:inline-block;width:8px;height:8px;line-height:normal;font-size:1px;background:url(../images/icons/homeIcons.gif) no-repeat 0 -1156px;}
.icon-active-del{background-position:0 -1182px;}
.icon-active-add{background-position:0 -1208px;}
.icon-active-close{width:9px;height:9px;background-position:0 -1235px}
.icon-active-edit{width:10px;height:11px;background-position:0 -1258px}
.icon-active-camera{background:url(../images/icons/homeIcons.png);width:16px;height:16px;background-position:0 -464px}


a.more{display:inline-block;padding-left:14px;height:15px;line-height:15px;/*background:url(../images/skin/dropArrow01.gif) no-repeat*/}


/*顶部导航条*/
.logo-top{width:150px;height:40px;display:block;position:absolute;left:5px;top:5px;cursor:pointer;background:url(../images/skin/logo.png) no-repeat;font:0/0 sans-serif;text-indent:-9999px;*text-indent:0;overflow:hidden}

#navbar{padding-left:9px;height:42px;background-image:url(../images/skin/navbar01.gif);background-repeat:no-repeat;}
#navbar #navwrap{padding-right:9px;height:100%;background-image:url(../images/skin/navbar01.gif);background-repeat:no-repeat;background-position:right -45px;}
#navbar #navwrap #navmid{height:100%;background-image:url(../images/skin/navbar01.gif);background-repeat:repeat-x;background-position:right -90px;position:relative;z-index:30}

#navbar #navmain{_display:inline;float:left;/*margin-left:151px;*/margin-left:175px;height:100%;position:relative;z-index:2}
#navbar #navmain #navmain-title li{float:left;margin-left:1px;position:relative}
#navbar #navmain #navmain-title a{display:inline-block;height:42px;line-height:41px;_line-height:42px;font-size:14px;font-weight:bold;cursor:pointer;background-repeat:repeat-x;}
#navbar #navmain #navmain-title a span{display:block;padding:0 15px 0 27px;background-repeat:no-repeat}
#navbar #navmain #navmain-title a:hover{background-image:url(../images/skin/navbar01.gif);background-position:left -135px;}
#navbar #navmain #navmain-title a.current{background-image:url(../images/skin/navbar01.gif);background-position:left -180px;}
#navbar #navmain #navmain-title a.current:hover{background-image:url(../images/skin/navbar01.gif);background-position:left -180px;}
#navbar #navmain #navmain-title a:hover span,#navbar #navmain a.current span{background-image:url(../images/skin/navbar01.gif);background-position:left -223px;}
#navbar #navmain #navmain-title a:hover #navhome,#navbar #navmain a.current #navhome{background-position:left -223px;}
#navbar #navmain #navmain-title a:hover #navprofile,#navbar #navmain a.current #navprofile{background-position:left -266px;}
#navbar #navmain #navmain-title a:hover #navfriend,#navbar #navmain a.current #navfriend{background-position:left -309px;}
#navbar #navmain #navmain-title a:hover #navinbox,#navbar #navmain a.current #navinbox{background-position:left -352px;}
#navbar #navmain #navmain-title a:hover #navnotice,#navbar #navmain a.current #navnotice{background-position:left -395px;}

/*notice-bubble*/
.notice-bubble{position:absolute;right:-2px;top:0;z-index:10;padding:0 6px 0 0;background:url(../images/skin/skin2010.png) 100% -567px no-repeat;/*_background-image:url(../images/skin/skin2010.gif);*/}
.notice-bubble strong{display:block;_display:inline;height:18px;padding:1px 0 0 4px;*padding:0 0 0 4px;background:url(../images/skin/skin2010.png) 0 -567px no-repeat;/*_background-image:url(../images/skin/skin2010.gif);*/color:#fff;font:10px/14px Tahoma,Arial,sans-serif;zoom:1;}


#navbar a{color:#fff;}

#navbar #navsearch{float:right;padding-top:7px;}
#navbar #navsearch .textfield{float:left;width:113px;}
#navbar #navsearch .gobtn{margin:3px 0 0 6px;_margin-bottom:4px;_margin-left:3px;}

#navbar #navextra{float:right;margin:10px 5px 0;line-height:20px;white-space:nowrap;_display:inline;}
#navbar #navextra li {position:relative;z-index:10;background-image:url(../images/skin/navbar01.gif);background-repeat:no-repeat;background-position:right -441px;float:left;margin:0 -1px 0 1px;}
#navbar #navextra li a{padding:0 10px;display:block}
#navbar #navextra li a:hover{text-decoration:underline}

/*导航栏弹出窗口*/
#navbar #navmain .drop-box{position:absolute;top:42px;left:0;background:#bade90;padding:5px;min-width:280px;z-index:2;}
#navbar #navmain .drop-box .con{background:#fff;padding:10px;color:#666;line-height:20px}
#navbar #navmain .drop-box .con dt,#navbar #navmain .drop-box .con dd{float:left;margin:5px 0}
#navbar #navmain .drop-box .con dd{padding-bottom:5px;border-bottom:1px solid #bbd2aa;width:230px}
#navbar #navmain .drop-box a{color:#25700d}
#navbar #navmain .drop-box .foot{padding:5px;margin-top:5px;text-align:right}
#navbar #navmain .drop-box #cmt-wrap{width:320px;background:#fff}
#navbar #navmain .drop-box #cmt-wrap .con{padding:0}
#navbar #navmain .drop-box #cmt-wrap textarea{width:270px}
#navbar #navmain .drop-box #notice-wrap{width:280px;}
#navbar #navmain .drop-box #notice-wrap dd a,#navbar #navmain .drop-box #notice-wrap .foot a{height:20px;line-height:20px;font-size:12px;background:none;}
#navbar #navextra li .set-box{position:absolute;top:20px;left:0;z-index:2;padding:5px;}
#navbar #navextra li .set-box a{color:#666;border-bottom:1px solid #c9dbbb;padding:1px 5px}
#navbar #navextra li .set-box a.nobd{border:none}

/*-------顶部导航条---------*/

/*选项卡*/
.tab01{height:30px;line-height:30px;background:url(../images/skin/tabs01.gif) repeat-x; background-position:left bottom;/*overflow:hidden;分享页面有弹出窗口*/}
.tab01 li{margin-right:1px;float:left;height:30px;padding-left:23px;background-image:url(../images/skin/tabs01.gif);background-repeat:no-repeat;}
.tab01 li span{display:block;padding-right:23px;background-image:url(../images/skin/tabs01.gif);background-repeat:no-repeat;background-position:right -33px;}
.tab01 li span a{display:block;position:relative;margin:0 -23px;padding:0 23px;color:#25700D; white-space:nowrap}
.tab01 li a:hover{color:#D63200;}
.tab01 li.hover{background-image:url(../images/skin/tabs01.gif);background-repeat:no-repeat;background-position:left -66px;}
.tab01 li.hover span{background-image:url(../images/skin/tabs01.gif);background-repeat:no-repeat;background-position:right -99px;}
.tab01 li.hover span a,.tab01 li.hover span a:hover{color:#0A3100}
.tab01 li.hover a:hover{color:#25700D;}
.tab01 li.nobg{background:none;padding:0;}
.tab01 li.nobg a{_display:inline-block;margin:0 15px;color:#D63200}
.tab01 li.nobg a:hover{text-decoration:underline}

.tab01 .right{word-spacing:10px;position:relative;z-index:10}
.tab01 .right .icon-movie{margin:0 15px 0 0;_margin:8px 15px 0 0;_vertical-align:text-bottom}
.tab01 .right a,.tab01 .gray a:hover{color:#D63200}
.tab01 .gray a{color:#7E7F80}
.tab01 .right a:hover{text-decoration:underline}
.tab01 .icon{float:right}
.tab01 .icon a{display:block;float:left;height:30px;line-height:30px;margin-left:15px;padding-left:22px;color:#D63200}
.tab01 .icon a:hover{ text-decoration:underline}
.tab01 .icon a.inbox-read{background:url(../images/icons/homeIcons.gif) no-repeat 0 -1073px;}
.tab01 .icon a.inbox-clear{background:url(../images/icons/homeIcons.gif) no-repeat 0 -1098px;}
.tab01 .icon a.icon-edit{background:url(../images/icons/homeIcons.gif) no-repeat 0 -527px}
.tab01 .icon a.icon-add-table{background:url(../images/icons/homeIcons.gif) no-repeat 0 -1021px}

.nav-link{margin-bottom:8px;line-height:17px;}
.nav-link li{float:left;margin:0 3px 0 2px;height:17px;} 
.nav-link li a{float:left;display:block;padding-left:9px;}
.nav-link li a span{float:left;display:block;padding-right:11px;height:100%;cursor:pointer}
.nav-link li.hover a{background:url(../images/skin/btn2010.png) no-repeat 0 -874px;color:#fff;}
.nav-link li.hover a span{background:url(../images/skin/btn2010.png) no-repeat right -898px}
.nav-link li.hover a:hover{color:#fff}
.nav-link li.right{float:right;}
/*选项卡*/

/*圆角*/
.round_l_t,.round_r_t,.round_l_b,.round_r_b,.round_title_l_t,.round_title_r_t{background:url(../images/skin/roundBoxbg01.gif) no-repeat;}
.round_r_t{_height:1px;background-position:right top;padding:0 6px 0 0;}
.round_l_t{padding:6px 0 0;}
.round_r_b{margin-right:-6px;padding-right:6px;background-position:right bottom;}
.round_l_b{background-position:left bottom;padding:0 0 6px;}

.round_title_r_t{padding-right:6px;background-position:right -7px;}
.round_title_l_t{background-position:left -7px;}
.round_title_r_t .round_title{color:#fff;width:100%;height:35px;line-height:27px;text-align:center;overflow:hidden}

.round_m{margin-right:-6px;padding:0 6px;border-left:1px #BBD2AA solid;border-right:1px #BBD2AA solid;background:#F8FCF6;word-wrap:break-word;word-break:normal;}
.round_m .round_body{width:100%;/*overflow:hidden好友管理弹出框显示*/}
.app-log,.app-video,.app-photo,.app-status,.app-ploy,.app-vote,.app-cons,.app-game,.app-vgame,.app-friend,.app-lock,.app-setting,.app-gift,.app-archives,.app-news,.app-share,.app-notice,.app-error,.app-task,.home-decoration{background:url(../images/icons/app-icons.png) no-repeat}
.app-log{background-position:0 0;}
.app-video{background-position:0 -50px;}
.app-photo{background-position:0 -100px;}
.app-status{background-position:0 -150px;}
.app-ploy{background-position:0 -202px;}
.app-vote{background-position:0 -251px;}
.app-cons{background-position:0 -300px;}
.app-game{background-position:0 -353px;}
.app-vgame{background-position:0 -398px;}
.app-friend{background-position:0 -447px;}
.app-lock{background-position:0 -543px;}
.app-setting{background-position:0 -591px;}
.app-gift{background-position:0 -636px;}
.app-archives{background-position:0 -495px;}
.app-news{background-position:0 -677px;}
.app-share{background-position:0 -729px;}
.app-notice{background-position:0 -780px;}
.app-error{background-position:0 -838px;}
.app-task{background-position:0 -893px;}
.home-decoration{background-position:0 -952px;}

.round02,.round02 .round_l_t,.round02 .round_l_b,.round02 .round_r_b{background-image:url(../images/skin/roundBoxbg02.gif);}
.round02 .round_m{border-left:1px #E7F0E0 solid;border-right:1px #E7F0E0 solid;background:#F8FCF6;}
.round04,.round04 .round_l_t,.round04 .round_l_b,.round04 .round_r_b{background-image:url(../images/skin/roundBoxbg04.gif);}
.round04 .round_m{border-left:1px #a6c49d solid;border-right:1px #a6c49d solid;background:#c4e7b9;}
.round05,.round05 .round_l_t,.round05 .round_l_b,.round05 .round_r_b{background-image:url(../images/skin/roundBoxbg05.gif);}
.round05 .round_m{border-left:1px #a6c49d solid;border-right:1px #a6c49d solid;background:#c4e7b9;}
.round06,.round06 .round_l_t,.round06 .round_l_b,.round06 .round_r_b{background-image:url(../images/skin/roundBoxbg06.gif);}
.round06 .round_m{background:#f4faf1;border:0}
.round07,.round07 .round_l_t,.round07 .round_l_b,.round07 .round_r_b{background-image:url(../images/skin/roundBoxbg07.gif);}
.round07 .round_m{border-left:1px #9ace5f solid;border-right:1px #9ace5f solid;background:#fff;}
.round08,.round08 .round_l_t,.round08 .round_l_b,.round08 .round_r_b{background-image:url(../images/skin/roundBoxbg08.gif);}
.round08 .round_m{border-left:1px #c9debc solid;border-right:1px #c9debc solid;background:#f8fcf6;}
.round08 .round_l_b{padding:0 0 18px}
.round09,.round09 .round_l_t,.round09 .round_l_b,.round09 .round_r_b{background-image:url(../images/skin/roundBoxbg09.gif);}
.round09 .round_m{border-left:1px #dad9d9 solid;border-right:1px #dad9d9 solid;background:#eee;padding:0}
.round09 .round_body{border-left:1px #f6f6f1 solid;border-right:1px #f6f6f1 solid;width:auto;padding:0 5px}
/*圆角*/

/*列表样式*/
ul.lister01 li{padding-left:13px;line-height:21px;background:url(../images/skin/skin2010.png) no-repeat -195px -66px;color:#7E7F80}
ul.lister02 li{height:21px;line-height:21px;overflow:hidden}
/*列表样式*/

/*表格样式*/
/*table.table01{background:#E7F0E0;border-collapse:separate;border-spacing:1px;}
table.table01 td{background:#fff;}
*/
div.table01{border-top:1px #E7F0E0 solid;border-left:1px #E7F0E0 solid;border-right:1px #E7F0E0 solid;}
div.table01 td,div.table01 th{border-bottom:1px #E7F0E0 solid;}
/*表格样式*/

/*页数设计*/
.pages{height:20px;overflow:hidden}
.pages a{display:block;float:right;background:none;margin:0 5px;padding:0 7px 0 6px;height:18px;line-height:18px;border:1px #E7F0E0 solid;color:#7E7F80}
.pages a:hover{color:#D63200;}
.pages a.hover,.pages a.hover:hover{border-color:#fff;font-weight:bold;color:#25700D}
/*页数设计*/

/*进度条样式*/
.percent-box{padding:7px 10px;background:#E4F2D8;height:17px;line-height:17px;overflow:hidden;}
.percent-box h3{margin-right:5px;color:#25700D;float:left;}
.percent-box .percent{float:left;width:300px;margin-right:5px;height:100%;overflow:hidden;background:#BBD2AA;}
.percent-box .percent span{display:block;width:0%;height:100%;background:#74BC20;}
.percent-box .right li{_display:inline;float:left;margin-left:10px;padding-left:24px;background:url(../images/icons/homeIcons.gif) no-repeat left -534px;}
.percent-box .right a{color:#D63200}
.percent-box .right a:hover{text-decoration:underline}

.percent01{display:block;width:211px;height:16px;background:#BBD2AA;overflow:hidden}
.percent01 *{display:block;width:0%;height:100%;background:url(../images/skin/btn2010.png) no-repeat right -631px;overflow:hidden;}
.percent01 .blue span{padding-right:1px;background-position:0 -610px;}

.percent01 .purple{background-position:right -718px}
.percent01 .purple span{padding-right:1px;background-position:0 -695px;}

.percent01 .gold{background-position:right -762px}
.percent01 .gold span{padding-right:1px;background-position:0 -740px;}

.percent01 .red{background-position:right -806px}
.percent01 .red span{padding-right:1px;background-position:0 -784px;}

.percent01 .green{background-position:right -674px}
.percent01 .green span{padding-right:1px;background-position:0 -652px;}

.percent01 .black{background-position:right -850px}
.percent01 .black span{padding-right:1px;background-position:0 -828px;}
/*进度条样式*/

/*Created By Jolly 20100111*/
.button03{float:left;cursor:pointer;display:block;background:url(../images/skin/btn2010.png) no-repeat right -51px;padding:0 10px 0 0;}
.button03 span{display:block;padding:0 0 0 10px;background:url(../images/skin/btn2010.png) no-repeat 0 -51px;}
.button03 span button{cursor:pointer;display:block;margin:0 -10px;padding:0 10px 2px;height:30px;line-height:30px;color:#fff;background:none;font-weight:bold;white-space:nowrap;width:auto;}

.button03-gray{background-position:right -86px;}
.button03-gray span{background-position:0 -86px;}
.button03-gray span button{color:#999}

.button04{float:left;cursor:pointer;display:block;background:url(../images/skin/btn2010.png) no-repeat right -122px;padding:0 10px 0 0;*padding:0 5px 0 0;}
.button04 span{display:block;padding:0 0 0 10px;_padding:0 0 0 5px;background:url(../images/skin/btn2010.png) no-repeat 0 -122px;}
.button04 span button{cursor:pointer;display:block;margin:0 -10px;_margin:0 -5px;padding:0 10px 2px 10px;*padding:0 5px 2px 0;_padding:0;height:25px;line-height:25px;color:#fff;background:none;white-space:nowrap;width:auto;}/*照片详情 我来说说 IE6 BUG*/


.textfield04{background:url(../images/skin/skin2010.png) no-repeat 0 -275px;width:110px;height:32px;overflow:hidden;vertical-align:middle;margin-top:6px}
.textfield04 input{width:92px;border:0;background:none;margin:8px 0 0 8px}

.textfield02{padding:0 5px;width:100px;line-height:24px;border:1px #c9dcbc solid;display:block}
.textfield02 textarea{margin:4px 0 0;width:100%;height:40px;color:#7E7F80;border:0;background:none}

.jl-round_m{position:relative}
.arrow-dialog{position:absolute;top:2px;left:-11px;_left:-26px;background:url(../images/skin/arrow.gif) no-repeat 0 -96px;width:11px;height:14px}

.jl-cutline{background:url(../images/skin/dotline.gif) repeat-x bottom;padding-bottom:5px}

/*链接*/
a.gray:link,a.gray:visited,a.gray:active{color:#808080;}
a.gray:hover{text-decoration:underline}
.shine,a.shine:link,a.shine:visited,a.shine:active{color:#f08e0c;}

p.jl-con{line-height:18px}
a.jl-more{display:inline-block;padding-left:25px;height:15px;line-height:15px;background:url(../images/icons/homeIcons.png) no-repeat 0 -672px}

.jl-gray-bd{border:1px solid #e7f3e7}/*灰色个人头像边框*/

/*input.drop-down{background:url(../images/skin/dropArrow02.gif) no-repeat right 0;}输入框下拉背景*/
/*label.jl-radio{background:url(../images/skin/radio-bg.gif) no-repeat;padding-left:20px}*/

/*寻找好友输入框宽度*/
#input-w01 .textfield{width:190px;_width:188px}
#input-w01 .selector{width:200px}

/*输入框v2*/
.ipt{padding:5px;border:1px #bdd6ad solid;background:#fff;color:#999;vertical-align: middle}
.mag,.textfield .mag{background:url(../images/icons/homeIcons.png) no-repeat 0 -688px;padding-left:25px}

/*行内元素相互距离*/
.w-l{margin-right:8px}
.w-xl{margin-right:20px}

/*按钮*/
.btn-v2{width:45px;height:20px;line-height:20px;text-align:center;cursor:pointer;background:url(../images/skin/skin2010.png) no-repeat -59px -69px;color:#fff;vertical-align:middle}
a.friend-btn,a.msg-btn{background:url(../images/skin/skin2010.png) no-repeat;width:82px;height:21px;display:inline-block}
a.friend-btn{background-position:-118px -164px}
a.msg-btn{background-position:-118px -186px}

/*icon-v2*/
.icon2-close,.icon2-edit,.icon2-praise,.z-close{background:url(../images/icons/homeIcons.png) no-repeat;width:16px;height:16px;display:inline-block;margin:0 3px;vertical-align:middle !important;_vertical-align:baseline;*vertical-align:baseline !important;}
.icon2-close{background-position:0 -736px}
.icon2-close:hover{background-color:#73bd21}
.icon2-close:hover,.z-close{background-position:0 -752px;}
.icon2-edit{background-position:0 -768px}
.icon2-praise{background-position:0 -784px}

.app-letter{background:url(../images/skin/skin2010.png) no-repeat -166px -5px;height:34px;line-height:34px;margin-bottom:8px;overflow:hidden;}

/*评论回复发表框*/
.cmt-box{margin-top:5px;padding:7px;zoom:1;overflow:hidden;}
.cmt-box .img{float:left;margin:0 0 4px 0}
#navbar #navmain .drop-box .cmt-box .cmt-con{background:#F8FCF6;} 
.cmt-box .cmt-con{float:left;margin-left:8px;*margin-left:3px;}
@media screen and (-webkit-min-device-pixel-ratio:0) { /* chrome、safari */
.cmt-box .cmt-con{margin-left:5px;}
}
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {/* opera */
.cmt-box .cmt-con{margin-left:5px;}
}
.cmt-box .cmt-con .button03{float:right;}
.cmt-box .cmt-con .button{float:right;}
.cmt-box .cmt-con .submit{margin:5px 0 0 5px;}
.cmt-box textarea{width:345px;width:343px\0;height:42px}
.feed-list-box .cmt-box,.feed-img-list .cmt-box{margin-bottom:10px;width:383px;/*float:left\0*/}/*IE8 评论首次切换margin-top失效bug*/

/*通用下拉框*/
.selector a.toggle{position:absolute;z-index:1;right:0;display:block;width:24px;height:24px;background:url(../images/skin/skin2010.png) no-repeat 4px -21px;overflow:hidden}
.drop-wrap{background:#fff;position:absolute;top:100%;left:0;z-index:100;overflow:hidden;display:block;width:100%}
.drop-wrap iframe{position:absolute;z-index:0;height:300px;width:100%;border:0;}
/*背景阴影*/
.wrap-bg{position:absolute;filter:alpha(opacity=20);opacity:0.2;z-index:-1;background:#333;margin:0;right:-3px;bottom:-2px;_right:0;_bottom:0;width:100%;height:100%;}

.drop-wrap .con{position:relative;background:#fff;z-index:2;border:1px solid #65a41c;}
.drop-wrap .head{padding:5px;background:#73bd21;border-bottom:1px solid #65a41c;margin:1px;color:#fff}
.drop-wrap .foot{text-align:center;background:#f4fdef;border-top:1px solid #bdd6ad;padding:10px 0}
.drop-wrap .foot .button{float:none;display:inline-block}
.drop-wrap .checkboxes,.drop-box .checkboxes{height:160px;overflow-y:auto;overflow-x:hidden}
.drop-wrap .checkboxes li{float:left;margin:3px;width:75px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;word-wrap:normal;white-space:nowrap;word-break:keep-all;}

/*下拉框 如：好友标记*/
.selector01 span a{padding-right:13px;color:#333;background:url(../images/skin/arrow.gif) no-repeat right 0;display:inline-block;width:50px;overflow:hidden;height:15px;line-height:15px;}
.selector01 .drop-wrap{width:65px;border:1px solid #add97f;overflow:visible;}
.selector01 dl{background:#fff;position:relative;height:100%;overflow:hidden}
.selector01 dl dd{text-align:center;padding:0 0 1px 0;margin:3px;zoom:1}
.selector01 dl dd a{display:block;padding:3px;}
.selector01 dl dd a:hover{background-color:#73bd21;color:#fff;}


/*表单v2*/
.form-con{padding:30px 0;margin:0 auto;width:85%;line-height:22px}
.m .foot{line-height:22px}
.form-con .f-id{width:180px;float:left;margin-right:5px;overflow:hidden;text-align:right;white-space:nowrap;word-break:keep-all;}
.form-con .f-id label{font-size:14px;font-weight:bold;line-height:28px;}
.form-con .f-value{float:left;margin-right:5px;}
.form-con input{border:1px solid #BDD6AD;padding:5px;width:260px;color:#666}
.form-con .f-stat{float:left;padding-left:16px;margin-right:5px;height:26px;background:url(../images/icons/homeIcons.gif) no-repeat 0 -1295px}

/*快速导航*/
.quick-nav{width:120px;overflow:hidden;}
.quick-nav .round_title{font-size:12px;text-align:left;text-indent:10px}
.quick-nav ul li{border-bottom:1px solid #c9dbbb;padding:6px}
.quick-nav ul li a{display:block;color:#333}

/*IM 聊天*/
.im-toggle .r-t,.im-toggle .r-b,.im-bar .r-b,.im-bar .r-m,.im-state,.im-online,.im-busy,.im-leave,.im-hide,.im-search .go,.im-group dt,.im-manage,.im-dlg-log h2 span{background:url(../images/skin/im.png) no-repeat;}

.im-tinybar,.im-bar{position:fixed;right:5px;top:50px;z-index:600;_position:absolute;_margin-top:50px;_bottom:auto;_right:5px;_top:expression(eval(document.documentElement.scrollTop));}

.im-tinybar{width:25px;}
.im-tinybar p{background:#fcfefb;color:#217308;border-left:1px solid #e8f1e1;padding:10px 2px;text-align:center;font-weight:700;height:200px}
.im-tinybar p span{font-weight:400;margin-bottom:8px;display:block}
.im-toggle .r-t,.im-toggle .r-b,.im-bar .r-b{display:block;height:26px}
.im-toggle .r-b,.im-bar .r-b{background-position:0 bottom;height:10px}
.im-bar{width:159px;color:#666}
.im-bar .r-m{background-position:0 -53px;padding:15px 10px}
	.im-title{line-height:20px}
	.im-title strong{width:70px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;word-wrap:normal;white-space:nowrap;word-break:keep-all;}
		.im-state{background-position:0 -27px;width:30px;height:18px;position:relative;z-index:2}
		.im-state .selector01 .drop-wrap {width:55px;left:-100%;}
		.im-state .selector01 dl dd a{padding:0}
		.im-state .selector01 dd a:hover{background:#f8fef5;color:#25700d;}
		.im-online,.im-busy,.im-leave,.im-hide{width:18px;height:18px;display:inline-block;vertical-align:middle}
		.im-online{background-position:-62px -27px;}
		.im-busy{background-position:-80px -27px;}
		.im-leave{background-position:-98px -27px;}
		.im-hide{background-position:-116px -27px;}
	
	.im-search,.im-group{margin-top:15px}
	.im-search{border:1px solid #ddedd3;background:#fff;padding:2px 0 2px 3px;_padding:1px 0 0 3px}
	.im-search input{border:0;width:110px;color:#999;}
	.im-search .go{width:17px;height:17px;background-position:-105px 0;cursor:pointer;}
	.im-group dl a,.im-group dl a:hover{color:#666}
	.im-group dl{margin-bottom:10px;}
	.im-group dt{padding-left:16px;background-position:-150px 0}
	.im-group dt span{color:#999}
	.im-group dd{line-height:20px;margin:3px 0 3px 15px}
	.im-group dd a{display:block;height:20px;padding:3px;cursor:pointer}
	.im-group dd a:hover{background:#e4e3e3}
	.im-expand dt{background-position:-150px -16px}
	.im-expand dd{position:relative}
	.im-expand dd .im-info{position:absolute;left:-190px;top:0;width:180px;overflow:hidden;padding:5px;background:#fff;border:1px solid #b6dd8b}
	.im-expand dd .im-info p{width:100px}
	.im-expand dd .im-info strong{width:100px;display:inline-block;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;word-wrap:normal;white-space:nowrap;word-break:keep-all;}
.im-bar .foot{border-top:1px solid #d5e8c8;padding:10px;}
.im-manage,.im-manage:hover{width:56px;padding-left:23px;height:18px;line-height:18px;display:inline-block;background-position:-25px 0;color:#25700d}
	
.im-dialog{position:absolute;z-index:800;width:350px;border:1px solid #91ca4f;background:#fff;}
/*.im-dialog .mask-con{border:1px solid #91ca4f;background:#fff;}
*/
.im-dialog .head{border:1px solid #a7cd65;background:#7fb73d;padding:5px;color:#fff;font-weight:700}
.im-dialog .con{border-top:1px solid #73a637;padding:10px;}
	.im-dlg-show{overflow-x:hidden;overflow-y:auto;height:180px;zoom:1}
	.im-dlg-show h4{color:#25700d;font-size:12px}
	.im-dlg-show h4.own{color:#ec7a0b}
	.im-dlg-show p{color:#666;margin:5px 0}
.im-dialog .foot{border-top:1px solid #d4e3c9;background:#f0f5ec;padding:5px;margin-right:1px}
	.im-dlg-send{border:1px solid #c4d8b5;background:#fff;padding:5px;}
	.im-dlg-send textarea{border:0;width:230px;height:5em}
	.im-dlg-send p{padding:8px 0;color:#999;text-align:center}
	.im-dlg-log h2{margin:5px 0;font-weight:700;font-size:12px;text-align:right;}
	.im-dlg-log h2 span{width:16px;height:16px;display:inline-block;background-position:-150px -16px}
	.im-dlg-log h2 a,.im-dlg-log h2 a:hover{color:#25700d}
	.im-dlg-log h2 a.show span{background-position:-150px -32px}
	.im-dlg-log .im-dlg-show{border:1px solid #c4d8b5;background:#f7f7f7;padding:5px;height:auto;}
	
.cut-side{background:url(../images/skin/page-cutline.gif) repeat-y right}

/*页面无内容提示信息*/
div.tip{color:#999;padding:10px 25px}
/*页面内错误提示*/
#errorExplanation{margin:10px;background:#fcb08b;padding:10px;color:#333;}
#errorExplanation .icon-error,#errorExplanation .con{float:left}

/*翻页*/
.pagination {text-align:center; background:none;margin:10px 0 5px 0;padding:5px 0;clear:both;zoom:1}
.pagination:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.pagination a, .pagination span{padding:5px; /*float: left;*/ margin-right:2px;height:20px;line-height:20px;font-size:12px;font-family:"宋体",Tahoma}
.pagination span.disabled {display:none}
.pagination span.current {font-weight: bold;border-color:#fff;font-weight:bold;color:#25700D}
.pagination a {text-decoration: none;border:1px #E7F0E0 solid;color:#7E7F80;background:#fff}
.pagination a:hover, .pagination a:focus {color:#D63200;}

/*遮罩层*/
.mask-layer{position:fixed;_position:absolute;top:0;left:0;z-index:999;width:100%;height:100%;background:transparent;}
.mask-layer iframe{width:100%;height:100%;border:0;filter:mask();}
.mask-gray{-moz-opacity:0.3;opacity:.30;filter:alpha(opacity=30);background:#999}
.mask-wrap{position:relative;width:100%;height:100%;}
.mask-iframe,iframe.mask-iframe{position:absolute;width:100%;height:100%;border:0;top:0;left:0;z-index:-1;filter:mask();}
.mask-iframe iframe{width:100%;height:100%;border:0;}
