body{background:#000;color:#4183ac}
a{color:#4183ac}
a.gray:link,a.gray:visited,a.gray:active,.home-wrap .feed-list-box a.gray{color:#4183ac}
.gray{color:#4183ac;}
.shine, a.shine:link, a.shine:visited, a.shine:active {color:#00b1f0;}

#header{width:100%;background:url(/images/themes/pingguoniu/top_bg.png) repeat-x;height:40px;}
.logo-top{background-image:url(/images/themes/pingguoniu/logo.png);top:0}
#navbar{width:950px;margin:0 auto;background:none}
#navbar a{color:#666}
#navbar #navwrap {background:none}
#navbar #navwrap #navmid{background:none}
#navbar #navsearch .textfield{border-color:#355c1b;background:#fff}
#navbar #navsearch .gobtn {background:url(/images/themes/pingguoniu/go.png) no-repeat;height:20px}
#navbar #navmain #navmain-title a.current,#navbar #navmain #navmain-title a.current:hover,#navbar #navmain #navmain-title a:hover{background:none}

#leftsidebar .avatarbox {border-bottom:0;background:url(/images/themes/pingguoniu/left_avatarbox.png) no-repeat center bottom;padding-bottom:20px}
#leftsidebar .avatarbox a {color:#4183ac}
.menu-icon-list li a span{color:#4183ac}
.s-dialog a{color:#4183ac}
.piclist .jl-picitem a{color:#00b1f0}
.home-wrap .feed-list-box a,.feed-box .feed-img-list .feed-list a{color:#00b1f0}
.multibox .diary-box .diary-header,.feed-img-list .feed-list, .home-wrap .feed-box .feed-img-list .feed-list{color:#229bbe;}

.banner{width:100%;}
.banner .con{width:100%;height:426px;margin:0 auto;background:url(/images/themes/pingguoniu/banner.jpg) no-repeat center 0;}
.round_l_t, .round_r_t, .round_l_b, .round_r_b, .round_title_l_t, .round_title_r_t {background-image:none;}
.round_m{background:transparent;border:0}
.round_l_b{padding:0}
.round02 .round_l_b,.round04 .round_l_b{padding:0 0 6px}
#page{width:100%;margin-top:0;background:url(/images/themes/pingguoniu/page_bg.jpg) no-repeat center 0;} 
#canvas{width:940px;margin:0 auto;padding:0 0 50px 0;} 
#canvas .tipbar {background:#111;border-color:#00739c;color:#4183ac}
#canvas .canvas_con .multibox .title,#rightsidebar .multibox .title{background:url(/images/themes/pingguoniu/title_bg.png) no-repeat;height:44px;line-height:44px;border:0;padding:0 20px;color:#229bbe}
.bookbox h3{background:url(/images/themes/pingguoniu/title_bg.png) no-repeat;height:44px;line-height:44px;border:0;padding:0 20px;color:#229bbe}
#canvas #rightsidebar .multibox .title{background:url(/images/themes/pingguoniu/title_bg02.png) no-repeat;}
.multibox .title a{color:#229bbe}

.box02 {background:none;border:0}
.box04 {background:#133c4e;border:0;}
.button,.button span {background-image:url(/images/themes/pingguoniu/btns01.png);}
.button span button{color:#00b1f0}
.button-gray span button{color:#666}

.textarea,textarea{background:#103e56;border:1px solid #103546;color:#4183ac}
.word-box{color:#4183ac}
.comment-box,.cmt-box,.word-box{background:#133c4e;}
.feed-list .word-box span,.feed-list .cmt-box span {color:#4183ac;}

.jl-cutline{background:url(/images/themes/pingguoniu/dotline.png) no-repeat center bottom;}
.arrow-dialog {background:url(/images/themes/pingguoniu/roundBoxbg03.png) no-repeat;}
.round02, .round02 .round_l_t, .round02 .round_l_b, .round02 .round_r_b {background-image:url(/images/themes/pingguoniu/roundBoxbg02.png);}
.round04, .round04 .round_l_t, .round04 .round_l_b, .round04 .round_r_b {background-image:url(/images/themes/pingguoniu/roundBoxbg04.png);}
.round02 .round_m {background:#3b3b3b;border-left:1px solid #3b3b3b;border-right:1px solid #3b3b3b;margin:0 -6px 0 0;color:#4183ac}
.round04 .round_m {background:#131313;border-left:1px solid #00739c;border-right:1px solid #00739c;margin:0 -6px 0 0}
.feed-list-box h4 {background:url(/images/themes/pingguoniu/date-cutline.png) no-repeat center}
.feed-list-box h4 span{background:url(/images/themes/pingguoniu/body_bg.jpg)}
a.jl-more {background:url(/images/themes/pingguoniu/arr-more.png) no-repeat;color:#229bbe}
.bookbox .textarea-wrap .textarea-wide textarea {background:url(/images/themes/pingguoniu/textarea_bg.jpg) no-repeat right bottom;border:1px solid #0f0f0e;color:#999}
#comments .feed-img-list {border-top:1px dashed #4f6d7b;}
.multibox .diary-box {border-bottom:1px dashed #4f6d7b;}

.jl-my-gold{color:#229bbe}
.jl-my-gold .green {color:#229bbe;}
.multibox .jl-data-table th {color:#229bbe;}
.multibox .data-table a,.multibox .data-table td{color:#4183ac}
.collection a{color:#4183ac}

#footer{width:100%;background:url(/images/themes/pingguoniu/foot_bg.png) repeat-x top;padding:30px 0;line-height:22px;color:#666}
#footer a{color:#666}
