<div class='bookbox'>
<%= render :partial => 'user/wall_messages/wall_form', :locals => {:wall => wall, :recipient => recipient} %>
<div class="feed-box" id='comments'>
  <%= render :partial => 'user/wall_messages/wall_messages', :locals => {:messages => messages} %>
</div>
</div>
