<% content_for :html_title, "狼队注册码活动页 - 17Gaming.com" %>

<% canvas_tag do %>
  <h1 class="app-log">激活码发放</h1>
  <div class="box02 canvas_int space">
		<div class="mainConWrap clear">
			<div class="mBlog fix">
				<div class="mBlogAct">
					<div class="mBlogActIntro">
						<div style="font-size:16px">一起游戏网正式成为狼队官方合作伙伴，现在在一起游戏网上发表微博就有机会获得狼队的激活码。微博要求 话题一定要是 <%= link_to "狼队", search_mini_blogs_url(:key => "狼队") %>,  并且跟上你想要玩狼队的理由。每人限拿一个。我们会根据情况，挑选出50名玩家。请您在8月8日晚上12点钟后，查看您的站内信。</div>
						<div class="op"><%=  link_to "马上抢号", home_mini_blogs_url, :class =>"i iActBtn" %></div>
					</div>
					<div class="mBlogActBanner">
						<div class="mConWrap">
						 <div class="mConBgT">
								 <div class="mConBgB">
									 <div class="mCon fix">
											<img src="/images/banner/wolf-banner.jpg" alt="" />
									 </div>
								 </div>
						 </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>
