<div class='impress-add s_clear space'>
<% all_tags = game.tags.limit(10).map(&:name) %>
<% all_tags.each do |name| %>
	<%= link_to_remote "<span>#{name}</span>", :url => game_tags_url(game, "tag_name" => name), :html=>{ :class=>"impress-btn-#{rand(4)}"}%>
<% end %>
</div>
