<div class='box02 canvas_con'>
  <div class="path-box">
    <label>游戏<%= game_link @wall %></label>
    <span>留言版</span>
  </div>
  <div class="bookbox">
    <%= render :partial => 'user/wall_messages/wall', :locals => {:wall => @wall, :recipient => nil} %>  
  </div>
  <div class="feed-box" id='comments'>
    <%= render :partial => 'user/wall_messages/wall_message', :collection => @messages %>
    <div class='paging'>
      <%= will_paginate @messages %>
    </div>
  </div>
</div>
