  <div class="mcAvatar">
    <div class="picwrap">
      <div class="middle"><div class="middle-center"><div class="center" id='avatar'>
        <%= avatar_image user, :size => :large, :width => '100px', :height => '112px' %>
      </div></div></div>
    </div>
  </div>

