<div class="alphaColum">
	<div class="ac-r-t"><em></em></div>
		<div class="ac-r-m fix">
			<div class="alphaTitle fix"><div class="wrap">
				<strong>共同好友</strong>
			<%= link_to_function '', "$('profile-common-wrap').toggle()", :class=>"op i iArrUnFold"%></div></div>
			<div id='profile-common-wrap'>
				<div class="ac-bd">
					<ul class="memberList fix">
						<% friends.each do |u| %>
							<li>
								<a href="#"><%= avatar u, :class => 'imgbox01' %></a>
								<%= profile_link u, :class=>"memberName" %>
							</li>
						<% end %>
					</ul>
					<div class="ac-ft"><%= facebox_link "查看全部>>", common_friends_url(:uid => user.id) %></div>
				</div>
			</div>
		</div>
	<div class="ac-r-b"><em></em></div>
</div>
