<% if email_viewable? %>
<div class="rows s_clear">
  <div class="id">email：</div>
  <div class="left"><%= @user.email %></div>
</div>
<% end %>
<% if qq_viewable? %>
<div class="rows s_clear">
  <div class="id">qq：</div>
  <div class="left"><%= @profile.qq %></div>
</div>
<% end %>
<% if phone_viewable? %>
<div class="rows s_clear">
  <div class="id">联系电话：</div>
  <div class="left"><%= @profile.phone %></div>
</div>
<% end %>
<% if website_viewable? %>
<div class="rows s_clear">
  <div class="id">个人网站：</div>
  <div class="left"><%= @profile.website %></div>
</div>
<% end %>

