<% delivery = event_feed_delivery %>
<% event = delivery.feed_item.originator %>

<% render :layout => 'user/profiles/feed_delivery', :locals => {:icon_type => 'icon-act', :delivery => delivery} do %>
  <p><%= profile_link event.poster %> 组织了活动 <%= event_link event %></p>
	<p class='gray'> <%= ftime delivery.created_at %> </p>
<% end %>
