    <div class="followBtn fix" id='idol_op'>
      <span class="button04"><span><%= button_to_function '成为粉丝', "Iyxzone.Profile.confirmFollowingIdol(#{user.id}, '#{user.login}', #{user.profile.id}, this);" %></span></span>
    </div>

