    <div class="followBtn fix" id='idol_op'>
      <span class="button04"><span><%= facebox_button_confirm '成为粉丝', follow_idol_url(user, :at => 'profile_show'), {:msg => "你确定要成为 #{user.login} 的粉丝吗？这样能在首页上看到 #{user.login} 的新鲜事~", :method => :post} %></span></span>
    </div>

