<% delivery = friendship_feed_delivery %>
<% friendship_feed = delivery.feed_item %>
<% friendship = friendship_feed.originator %>
<% if friendship_feed.data[:friend] == friendship.user_id  %>
	<% user = friendship.user %>
	<% friend = friendship.friend %>
<% else %>
	<% user = friendship.friend %>
	<% friend = friendship.user %>
<% end %>

<% render :layout => 'user/profiles/feed_delivery', :locals => {:icon_type => 'icon-data', :delivery => delivery} do %>
	<p><%= profile_link user %> 和 <%= profile_link friend %> 成为了好朋友</p>
	<p class="gray"><%= ftime delivery.created_at %></p>
<% end %>
