<div class="multibox rows">
  <div class="title">
    <% unless @user == current_user %>
      <%= link_to "更多", other_friends_url(:uid => @user.id) %>
      <b>他的好友</b>
    <% else %>
      <%= link_to "更多", friends_url() %>
      <b>我的好友</b>
    <% end %>
  </div>
  <div class="photolist-box">
    <ul class="collection s_clear">
      <% @user.friends.sort_by{rand}[0..2].each do |u| %>
        <li>
          <div class="middle"><div class="middle-center"><div class="center"><a href="#"><%= avatar u, :class => 'imgbox01' %></a></div></div></div>
          <p><%= profile_link u %></p>
          <p class="btns"></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>

