<% delivery = participation_feed_delivery %>
<% participation = delivery.feed_item.originator %>

<% render :layout => 'user/profiles/feed_delivery', :locals => {:icon_type => 'icon-act', :delivery => delivery, :delivery => delivery} do %>
  <p><%= profile_link participation.participant %> 参加了活动 <%= event_link participation.event %></p>
	<p class='gray'><%= ftime delivery.created_at %></p>
<% end %>
