<% delivery = profile_feed_delivery %>
<% profile = delivery.feed_item.originator %>
<% modified = delivery.feed_item.data[:modified].map { |m| link_to m, edit_profile_url(profile) }.join(',') %>

<% render :layout => 'user/profiles/feed_delivery', :locals => {:icon_type => 'icon-data', :delivery => delivery} do %>
	<p><%= profile_link profile.user %> 更改了 <%= modified %></p>
	<p class='gray'><%= ftime delivery.created_at %></p>
<% end %>
