<div class='multibox'>
  <div class='title' id='tag_cloud_head'>
  <% if @user == current_user %>
    <b>大家对你的印象是</b>
  <% elsif @profile.is_taggable_by? current_user %>
    <b class='space'>你对TA的印象是</b>
  <% else %>
    <b>好友印象</b>
  <% end %>
  </div>
  <div id='tag_cloud'>
  <% if @user == current_user %>
    <%= render :partial => 'user/profiles/tags/tag_cloud', :locals => {:profile => @profile} %>
  <% elsif @profile.is_taggable_by? current_user %>
    <%= render :partial => 'user/profiles/tags/profile_tag', :locals => {:profile => @profile} %>
    <% form_remote_for :tag, :url => profile_tags_url(@profile), :html => {:onsubmit=> "Iyxzone.disableButton($(tag_submit),'请等待..');"} do |f| %>
      <p class='space'>都不贴切？自己想个</p>
      <div class='textfield04 left space'><%= text_field_tag 'tag_name', ''%></div>
      <div class="fldbtn left space"><span class="button04"><span><button id='tag_submit' type="submit">评价</button></span></span></div>
    <% end %>
  <% else %>
    <%= render :partial => 'user/profiles/tags/tag_cloud', :locals => {:profile => @profile} %>
  <% end %>
  </div>
</div>

