<div class='multibox s_clear'>
  <div class='title' id='tag_cloud_head'>
  <% if user == current_user %>
    <b>大家对你的印象是</b>
  <% elsif profile.is_taggable_by? current_user %>
    <b class='space'>你对TA的印象是</b>
  <% else %>
    <b>印象</b>
  <% end %>
  </div>
  <div id='tag_cloud'>
  <% if profile.is_taggable_by? current_user %>
    <%= render :partial => 'user/profiles/tag_candidates', :locals => {:profile => profile} %>
    <% form_for :tag, :html => {:onsubmit => "Iyxzone.Profile.Tag.submitForm(#{profile.id}, this); return false"} do |f| %>
      <p class='space'>都不贴切？自己想个</p>
      <div class='textfield04 left space'><%= text_field_tag 'tag_name', ''%></div>
      <div class="fldbtn left space"><span class="button04"><span><button id='tag_submit' type="submit">评价</button></span></span></div>
    <% end %>
  <% else %>
    <%= render :partial => 'user/tags/tag_cloud', :locals => {:taggable => profile, :deleteable => profile.is_tag_deleteable_by?(current_user)} %>
  <% end %>
  </div>
</div>

