<% delivery = vote_feed_delivery %>
<% vote = delivery.feed_item.originator %>

<% render :layout => 'user/profiles/feed_delivery', :locals => {:icon_type => 'icon-vote', :delivery => delivery} do %>
  <p><%= profile_link vote.voter %> 参与了投票 <%= poll_link vote.poll, :class => "shine" %></p>
	<p class="gray"><%= ftime delivery.created_at %></p>
<% end %>
