          <div class='bd-bt'>
            <h3><%= link_to_function '按昵称查找', "Iyxzone.Search.toggleUserForm()" %></h3>
            <div id='search_panel'>
              <% form_tag search_users_url, :class => "formcontent", :id => 'user_form', :onsubmit => "Iyxzone.Search.searchUsers($('user_search_submit_btn')); return false;", :style => "display:none" do %>
                <div class="rows s_clear">
                  <div class="fldvalue">
                    <div class="textfield"><%= text_field_tag 'key', '好友名字', :onclick => "$(this).clear();" %></div>
                  </div>
                  <div class="fldbtn">
                    <span class="button"><span><button type="submit" id="user_search_submit_btn">查找</button></span></span>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

