<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <h1 class="app-status">状态</h1>
    <div class="box02 canvas_int">
                        <div class="tab tab01">

                          

                            <ul>

                                 <li><span><a href="#">我的状态</a></span></li>

                                 <li class="hover"><span><a href="#">好友的状态</a></span></li>

                      </ul>

                        

                        </div>

                        

                        <div id="homeComposer" class="cmt-space">

                          <div class="img">

                            <div class="mcAvatar jl-mcAvatar"> <a href="#"></a>

                              <div class="picwrap"> <a href="#"><img alt="" src="images/photo/photo13.png" class="imgbox01"/></a> </div>

                            </div>

                          </div>

                          <div class="mcContent">

                            <div class="mcPanel round02 round_r_t">

                              <div class="round_l_t">

                                <div class="round_r_b">

                                  <div class="round_l_b">

                                    <div class="round_m jl-round_m"> <span class="arrow-dialog"></span>

                                      <div class="round_body">

                                        <form class="formcontent s_clear" action="">

                                          <div class="fldvalue">

                                            <div id="mcStatus" class="textfield02" style="width:500px;">

                                              <textarea name="textfield">你正在干嘛呢？</textarea>

                                            </div>

                                          </div>

                                          <div class="fldbtn jl-fldbtn"> <span class="button03"><span>

                                            <button type="submit">发布</button>

                                            </span></span> </div>

                                        </form>

                                        <div class="buttons home-dialog"> <span class="left">40/160</span> <span class="right"><a class="icon-face" href="#">表情</a></span> </div>

                                      </div>

                                    </div>

                                  </div>

                                </div>

                              </div>

                            </div>

                          </div>

                        </div>

                          

                        <div class="feed-box01 list-v2">

                          

                            <div class="list-v2-head">以下是您所发布过的所有状态</div>

                            

                            <div class="feed-img-list">

                                <div class="feed-list">

                                    <div class="feed-img"><a href="#"><img alt="" src="images/photo/photo11.png" class="imgbox01"/></a></div>

                                    <div class="feed-header">

                                      <a href="#" class="icon2-close right"></a>

                                        <p><a href="#">沈文博</a>：我太不会讲话，只能等，静静的，但愿能有彩虹 我太不会讲话，只能等，静静的 我太不会讲话，只能等，静静的</p>

                                    </div>

                                    <div class="feeds">2009-9-29 7:29am <a href="#">12条回复</a></div>

                                </div>

                                <div class="feed-list">

                                    <div class="feed-img"><a href="#"><img alt="" src="images/photo/photo11.png" class="imgbox01"/></a></div>

                                    <div class="feed-header">

                                      <a href="#" class="icon2-close right"></a>

                                        <p><a href="#">沈文博</a>：我太不会讲话，只能等，静静的，但愿能有彩虹 我太不会讲话，只能等，静静的 我太不会讲话，只能等，静静的</p>

                                    </div>

                                    <div class="feeds">2009-9-29 7:29am <a href="#">12条回复</a></div>

                                </div>                            </div>

                            

                        </div>

                        

                    </div>

                    

            </div></div>

                

            </div></div></div></div>
