<% content_for :left do %>
  <%= render :partial => '/app_menu' %><br/>
<% end %>

<%= render :partial => 'video/menu' %>

<div id='videos'>
  <%= render :partial => 'video_items', :object => @feed_items %>
</div>

