<% group_deliveries(feed_deliveries).each do |time, deliveries| %> 
<div class='feed-list-box'>
	<h4><%= time %></h4>
	<% deliveries.each do |f| %>
    <% render :layout => "/feed_deliveries/#{f.feed_item.originator.class.to_s.underscore}_feed_delivery", :object => f, :locals => {:with_comments => true} do %>
      <%= link_to_remote 'x', :url => feed_delivery_url(f), :method => :delete %>
    <% end %>
	<% end %>
</div>
<% end %>
