body{background:#333 url(/images/themes/heavenlizi/body_bg.jpg) no-repeat center 0; background-attachment:fixed;color:#333}
a{color:#7400ff}
a.gray:link,a.gray:visited,a.gray:active,.home-wrap .feed-list-box a.gray{color:#333}
.gray{color:#333;}
.shine, a.shine:link, a.shine:visited, a.shine:active {color:#333;}

#header{width:100%;background:url(/images/themes/heavenlizi/top_bg.png) repeat-x;height:40px;}
.logo-top{background-image:url(/images/themes/heavenlizi/logo.png);top:0}
#navbar{width:950px;margin:0 auto;background:none}
#navbar a{color:#454545}
#navbar #navwrap {background:none}
#navbar #navwrap #navmid{background:none}
#navbar #navsearch .textfield{border-color:#355c1b;background:#fff}
#navbar #navsearch .gobtn {background:url(/images/themes/heavenlizi/go.png) no-repeat;height:20px}
#navbar #navmain #navmain-title a.current,#navbar #navmain #navmain-title a.current:hover,#navbar #navmain #navmain-title a:hover{background:none}

#leftsidebar,#rightsidebar{border:1px solid #9e54f8;background:#ede9f5;padding:10px 0}
#leftsidebar .avatarbox {background:url(/images/themes/heavenlizi/left_avatarbox.png) no-repeat bottom;padding-bottom:20px;border:0}
#leftsidebar .avatarbox a {color:#7400ff}
.menu-icon-list li a{color:#333}
.menu-icon-list li a span{color:#333}
.s-dialog a{color:#7400ff}
.piclist .jl-picitem a{color:#333}
.home-wrap .feed-list-box a,.feed-box .feed-img-list .feed-list a{color:#7400ff}
.multibox .diary-box .diary-header,.feed-img-list .feed-list, .home-wrap .feed-box .feed-img-list .feed-list{color:#333;}

.banner{width:100%;}
.banner .con{width:100%;height:150px;margin:15px auto;background:url(/images/themes/heavenlizi/banner.jpg) no-repeat center 0;}
.round_l_t, .round_r_t, .round_l_b, .round_r_b, .round_title_l_t, .round_title_r_t {background-image:none;}
.round_l_t{padding:0}
.round_m{background:transparent;border:0}
.round02 .round_l_b,.round04 .round_l_b{padding:0 0 6px}
#page{width:100%;margin-top:0;background:url(/images/themes/heavenlizi/page_bg.jpg) no-repeat center 0;} 
#canvas .round_m{padding:0}
#canvas{width:950px;margin:0 auto;padding:0 0 30px 0;} 
#canvas .canvas_con{border:1px solid #9e54f8;background:#ede9f5;}
#canvas .canvas_wrap .canvas_main{margin-left:-169px}
#canvas .canvas_wrap .canvas_main .canvas_main_c {margin-left:169px}
#canvas .canvas_wrap .canvas_m{margin-right:-208px}
#canvas .canvas_wrap .canvas_m .canvas_c {margin-right:208px;}
#canvas .canvas_wrap .canvas_r {width:198px;padding-left:2px}
#canvas .tipbar {background:#ddc7f8;border-color:#a65bff;color:#333}
#canvas .canvas_con .multibox .title,#rightsidebar .multibox .title,.bookbox h3{background:url(/images/themes/heavenlizi/title_bg.png) no-repeat;height:50px;line-height:40px;border:0;padding:0 20px 0 20px;color:#000}
#canvas #rightsidebar .multibox .title{background:url(/images/themes/heavenlizi/title_bg02.png) no-repeat 2px 0;line-height:37px;height:37px;padding:0 20px 0 30px;color:#000}
#canvas .canvas_con .multibox .title a{color:#000}
.multibox .title a{color:#000}

.box02 {background:none;border:0}
.box04 {background:none;border:0;}
.button,.button span {background-image:url(/images/themes/heavenlizi/btns01.png);}
.button span button{color:#fff}
.button-gray span button{color:#666}

.arrow-dialog {background:url(/images/themes/heavenlizi/roundBoxbg03.png) no-repeat;}
.round02, .round02 .round_l_t, .round02 .round_l_b, .round02 .round_r_b {background-image:url(/images/themes/heavenlizi/roundBoxbg02.png);}
.round04, .round04 .round_l_t, .round04 .round_l_b, .round04 .round_r_b {background-image:url(/images/themes/heavenlizi/roundBoxbg04.png);}
.round02 .round_l_t,.round04 .round_l_t{padding:6px 0 0}
.round02 .round_m {background:#e2cbfc;border:1px solid #a65bff;border-width:0 1px;margin:0 -6px 0 0;}
.round04 .round_m {background:#e2cbfc;border:1px solid #a65bff;border-width:0 1px;margin:0 -6px 0 0}
.feed-list-box h4 {background:url(/images/themes/heavenlizi/date-cutline.png) repeat-x center}
.feed-list-box h4 span{background:#EBE5F3}
a.jl-more {background:url(/images/themes/heavenlizi/arr-more.png) no-repeat;}

.textarea,textarea{background:#e2cbfc;border:1px solid #a65bff;color:#333}
.comment-box,.cmt-box,.word-box{background:#e2cbfc;border:0;}
.word-box{color:#333}
.feed-list .word-box span,.feed-list .cmt-box span {color:#333;}

.jl-cutline{background:url(/images/themes/heavenlizi/cutline.png) repeat-x center bottom}
.multibox .diary-box{border-bottom:1px dotted #999}
#comments .feed-img-list{border-top:1px dotted #999}

.jl-my-gold{color:#7400ff}
.jl-my-gold .green {color:#7400ff;}
.multibox .jl-data-table th {color:#7400ff;}
.multibox .data-table a,.multibox .data-table td{color:#333}
.collection a{color:#333}

#footer{width:100%;padding:0 0 30px 0;line-height:22px;color:#fff}
#footer a{color:#fff}
