<% if @game.tags.blank? %>
	还没有玩家对这个进行评价
<% else %>
<% tag_cloud @game, %w(css1 css2 css3 css4) do |tag, css_class| %>
	<span id='tag_<%= tag.id %>' class=<%= css_class %>>
		<%= tag.name %>
	</span>
<% end %>
<% end %>
