<html>
<head>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<a id="morph_demo" style="background:#cccccc; width:100px; height:100px;display:block"></a>
<ul>
  <li><a href="#" onclick="$('morph_demo').morph('background:#00ff00; width:300px;'); return false;">Click me for a demo!</a></li>
  <li><a href="#" onclick="$('morph_demo').morph('background:#cccccc; width:100px;'); return false;" >Reset the demo!</a></li>
</ul

</body>
</html>

