<% facebox_tag '请求加入' do %>
  <% if @characters.blank? %>
    <div class='tip'>你没有游戏角色可以加入这个公会</div>
  <% else %>
    <% rows_form_for :request, :html => {:onsubmit=> "Iyxzone.Guild.Request.send(#{@guild.id}, this, $(
'new_guild_request_btn')); return false"} do |f| %>
      <div class='formcontent'>
        <% f.rows do %>
          <div class='tip'>你想让 <%= collection_select :request, :character_id, @characters, :id, :name, {:prompt => '---'} %> 加入公会? </div>
        <% end %>
      </div>
      <%= f.z_submit :submit => {:text => '完成', :id => 'new_guild_request_btn'}, :cancel => {:text => '取消', :onclick => 'Iyxzone.Facebox.close();'} %>
    <% end %>
  <% end %>
<% end %>
