          <div class="vote-state right">
            <div class="vote-icon left">
            <h5><%= poll.voters_count %>人</h5>
            <p>参与投票</p>
            </div>
            <%= facebox_link '分享', new_sharing_url(:url => poll_url(poll)), :width => 450, :class => "left love-btn" %>
          </div>

