          <div class="vote-state right">
            <div class="vote-icon left">
            <h5><%= poll.voters_count %>人</h5>
            <p>参与投票</p>
            </div>
            <div class="topIsay left"><span class="button04"><span><%= facebox_button "我来说说", new_mini_blog_url(:content => "#{poll.name} #{SITE_URL}/polls/#{poll.id}"), :width => 500 %></span></span></div>
          </div>


