<% facebox_tag '修改选项说明' do %>
  <% rows_form_for :poll, :html => {:onsubmit => "Iyxzone.Poll.updatePoll($('update_explanation_btn'), this, #{@poll.id}); return false"} do |f| %>
    <div class='formcontent'>
      <%= f.text_area 'explanation', :rows => 20, :label => '选项说明' %>
    </div>
    <%= f.z_submit :submit => {:text => '完成', :id => 'update_explanation_btn'}, :cancel => {:text => '取消', :onclick => 'Iyxzone.Facebox.close();'} %>
  <% end %>
<% end %>
