<% facebox_tag '修改选项说明' do %>
  <% rows_form_remote_for :poll, :url => poll_url(@poll), :html => {:method => :put, :onsubmit => "Iyxzone.disableButton($('update_explanation_btn'), '请等待');"} do |f| %>
    <div class='formcontent'>
      <%= f.text_area 'explanation', :rows => 20, :label => '选项说明' %>
    </div>
    <%= f.z_submit :submit => {:text => '完成', :id => 'update_explanation_btn'}, :cancel => {:text => '取消', :onclick => 'Iyxzone.Facebox.close()();'} %>
  <% end %>
<% end %>
