        <div class="detail-blog-head jl-cutline s_clear">
          <p class="left">
            <strong><%= news.title %></strong> <span class="gray"><%= ftime news.created_at %></span>
          </p>
        </div>
        <div class="topIsay right"><span class="button04"><span><%= facebox_button "我来说说", new_mini_blog_url(:content => news.title), :width => 500 %></span></span></div>

