              <div class="path-box">
                <label>
                  <%= link_to "图片新闻", news_index_url(:type => 3) %>
                </label>
                <span><%= @news.title %></span>
              </div>
