                  <div class="photo-op">
                    <span class="photo-op-share" ></span>
                    <%= facebox_link "分享", new_sharing_url(:url => news_url(news)), :width => 450 %> |
                    <span class="photo-op-praise" ></span>
                    <%= text_dig_link news %>
                  </div>

