                  <div class="pic-desc s_clear">
                    <h4 class="box06" id='notation'>
                      <%= simple_format h @picture.notation %>
                    </h4>
                    <div class="rows"></div> 
                  </div>

