          <div class="album">
            <span class="num">一共<%= @news.pictures.count %>张</span>
            <div class="btn upbtn" id="up_btn"></div>
            <div class="small-imgs">
              <div class="imgList" id='frames'>
                <% 7.times do |i| %>
                  <div class="img"></div>
                <% end %>
              </div>
            </div>
            <div class="btn downbtn" id="down_btn"></div>
            <% photo_infos = @news.pictures.map {|p| {:id => p.id, :url => p.public_filename, :thumbnail_url => p.public_filename(:medium), :notation => p.notation}}.to_json %> 
            <%= onload_javascript_tag "
              slide = new Iyxzone.Photo.Slide3(#{@picture.id}, #{photo_infos}, $('frames').childElements(), $('down_btn'), $('up_btn'));
            "%>
          </div>

