<% content_for :html_title, "拾闻 - 17Gaming.com" %>
<% content_for :html_description, "拾闻 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"<div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <h1 class="app-news">拾闻</h1>
    <div class="box02 canvas_int space20">
      <div class="tab tab01">
        <%= render :partial => "columns" %>
      </div>
      <%= render :partial => 'show_news' %>
    </div></div>
</div></div></div></div>

<% unless @reply_to.blank? %>
  <%= onload_javascript_tag "Iyxzone.Comment.set('news', #{@news.id}, '#{@reply_to.login}', #{@reply_to.id});"%>
<% end %>
