      <div class="tab tab01">
        <ul>
          <li <% if hover==0 %>class="hover"<% end %>><span><%= link_to '个人主页', edit_privacy_setting_url(:type => 0) %></span></li>
          <li <% if hover==1 %>class='hover'<% end %>><span><%= link_to '操作', edit_privacy_setting_url(:type => 1) %></span></li>
          <li <% if hover==2 %>class='hover'<% end %>><span><%= link_to '站外搜索', edit_privacy_setting_url(:type => 2) %></span></li>
          <li <% if hover==3 %>class='hover'<% end %>><span><%= link_to '邮件提醒', edit_mail_setting_url(:type => 6) %></span></li>
        </ul>
      </div>

