<% facebox_tag '隐私设置' do %>
  <% rows_form_for :setting, :html => {:onsubmit => "Iyxzone.PhonePrivacySetting.update(this, $('config_btn')); return false"} do |f| %>
    <div class='formcontent'>
      <%= f.select 'phone', privacy_options, {}, :label => '想让谁看到', :class => "selector selector02" %>
    </div>
    <%= f.z_submit :submit => {:text => '完成', :id => 'config_btn'}, :cancel => {:text => '取消', :onclick => 'Iyxzone.Facebox.close();'} %>
  <% end %>
<% end %>
