<% facebox_tag '隐私设置' do %>
  <% rows_form_remote_for :setting, :url => privacy_setting_url(@setting, :format => 'js'), :html => {:method => :put, :onsubmit => "Iyxzone.disableButton($('website_privacy_btn'), '请等待..')"} do |f| %>
    <div class='formcontent'>
      <%= f.select 'website', privacy_options, {}, :label => '想让谁看到', :class => "selector selector02" %>
    </div>
    <%= f.z_submit :submit => {:text => '完成', :id => 'website_privacy_btn'}, :cancel => {:text => '取消', :onclick => 'facebox.close();'} %>
  <% end %>
<% end %>
