<%= link_to_remote "<span class='icon-friend02'></span>加关注", :url => attentions_url(:attentionable_id => attentionable.id, :attentionable_type => attentionable.class.name), :html => {:class => 'red'} %>
