<% facebox_tag '活动设置' do %>
  <% rows_form_remote_for :setting, :url => application_setting_url(@setting), :html => {:method => :put, :onsubmit=> "Iyxzone.disableButton($(photo_config_btn),'请等待..');"} do |f| %>
    <div class='formcontent'>
      <%= f.check_box 'recv_event_feed', :label => '看到别人的新鲜事' %>
      <%= f.check_box 'emit_event_feed', :label => '让别人看到我的新鲜事' %>
    </div>
    <%= f.z_submit '完成' => {:type => 'submit', :id => 'event_config_btn'}, '取消' => {:type => 'button', :onclick => 'facebox.close();'} %>
  <% end %>
<% end %>
