<%= stylesheet_link_tag 'home' %>
<%= stylesheet_link_tag 'common' %>
<style type="text/css">
.z-box{width:480px;margin:100px auto;position:static}
.z-box .con{background:#fff;color:#666;padding:20px 30px}
.z-box .con h3{font-size:14px;color:#517527;margin-left:20px;width:300px}
.z-box .con h3 strong{font-size:24px;}
.z-box .search input{border:1px solid #999;padding:5px;color:#999;width:300px;}
.z-box .search .button{margin:3px 0 0 5px}
.z-box .foot{text-align:center}
.z-box .foot strong{font-size:14px;color:#517527;line-height:40px}
.z-box .foot a{color:#666;font-weight:700;}
.z-box .foot span{margin:0 10px}
</style>

<div class="z-box">
        <div class="z-m rows s_clear">
            <div class="box01 s_clear">
            
                <p class="z-h">错误：您找的页面不存在！</p>
                <div class="con">
                	<div class="s_clear">
                    <img src="../images/skin/moogoo.png" class="left" />
                   <h3 class="left"><strong>Sorry!</strong><br />可能是您输错了地址，或者我们已经删除了这一页</h3>
                    </div>
                    <div class="space20 rows">
                    <strong>试试其他的页面？</strong>
                    </div>
            		</div>
                    <div class="foot rows">
                    <%= link_to '上一页', :back %> <span> | </span> <%=link_to '17gaming首页', home_url %>
                    </div>
            </div>
        </div>
    </div>
</div>
