<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <h1 class="app-log">guestbook</h1>
    <div class="box02 canvas_int space">
      <div class="appcontent05">
        <div class="myblog">
          <div class="tip">共<%= @guestbooks.total_entries %>篇日志</div>
          <div class="myblog-table">
            <table cellpadding="0">
              <%= render :partial => 'guestbook', :collection => @guestbooks %>
            </table>
          </div>
          <%= will_paginate @guestbooks %>
        </div>
      </div>
    </div>
  </div></div>
</div></div></div></div>

