<% facebox_tag '增加选项' do %>
  <% form_remote_tag :url => poll_answers_url(@poll), :html=> {:onsubmit=> "Iyxzone.disableButton($(new_poll_answer_btn),'请等待..');"} do %>
    <div class='formcontent'>
      <div class='content'>
        <div id='poll_answers'>
          <%= render :partial => 'answer_input', :object => PollAnswer.new %>
        </div>
        <div class='rows s_clear'>
          <div class='fldid'><label>
            <%= link_to_function '添加选项' do |page|
                page.insert_html :bottom, :poll_answers, :partial => 'answer_input', :object => PollAnswer.new
              end %></label>
          </div>
        </div>
      </div>
    </div>
    <div class='z-submit s_clear space'>
      <table class='center' cellpadding='0'><tr><td>
        <span class='button'><span><button type='submit' id='new_poll_answer_btn'>完成</button></span></span>
        <span class='button button-gray'><span><button type='reset' onclick='facebox.close();'>取消</button></span></span>
      </td></tr></table>
    </div>
  <% end %>
<% end %>
