        <div class="path-box">
          <label>活动"<%= event_link event %>"</label>
          <span>相册</span>
          <%= facebox_link '分享', new_sharing_url(:url => event_album_url(album)), :width => 450, :class => 'right love-btn' %>
        </div>

