      <div class="tab tab01">
        <div class="right">
          <% if user == current_user %>
            <%= link_to "上传照片", new_event_photo_url(:album_id => album.id) %>
          <% end %>
        </div>
        <ul>
          <li><span><%= link_to "热门照片", hot_personal_photos_url(:uid => current_user.id) %></span></li>
          <li class='hover'><span><%= link_to "#{h event.title}的相册", event_album_url(album, :format => 'html') %></span></li>
        </ul>       
      </div>

