<% content_for :html_title, "#{@guild.name}的活动 - 17Gaming.com" %>
<% content_for :html_description, "#{@guild.name}的活动 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@guild.name}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% canvas_tag do %>
    <%= render :partial => 'user/guilds/guild_header', :locals => {:text => "#{@guild.name}的活动", :guild => @guild} %>
    <div class="box02 canvas_int space">
      <%= render :partial => 'tab', :locals => {:guild => @guild} %>
      <div class="piclist-rows" id='events'>
        <% if @events.count != 0 %>
          <table cellpadding="0" cellspacing="0">
            <%= render :partial => 'user/events/event_item', :collection => @events %>
          </table>
          <%= will_paginate @events %>
        <% else %>
          <div class='tip'>该公会还没有相关活动</div>
        <% end %>
      </div>
    </div>
<% end %>
