              <div class="path-box">
                <label>活动 "<%= event_link event %>"</label>
                <label><%= link_to "相册", event_album_url(event.album, :format => 'html') %></label>
                <span>查看照片</span>
              </div>
