<% facebox_tag '编辑照片' do %>
  <% rows_form_remote_for :photo, :url => event_photo_url(@photo, :at => params[:at]), :html => {:method => :put, :onsubmit=> "Iyxzone.disableButton($(edit_photo_submit),'请等待..');"} do |f| %>
    <div class='formcontent'>
      <%= f.text_area 'notation', :label => '照片描述' %>
      <%= f.span "#{h @album.title}", :label => '所属相册' %>
      <% f.rows :label => '相册封面' do %>
        <%= check_box_tag 'photo[cover]', 1, @photo.is_cover? %>设置为活动封面
      <% end %>
    </div>
    <%= f.z_submit :submit => {:text => '完成', :id => 'edit_photo_submit'}, :cancel => {:text => '取消', :onclick => 'Iyxzone.Facebox.close()();'} %>
  <% end %>
<% end %>
