<% content_for :left do %>
  <%= render :partial => '/app_menu' %><br/>
<% end %>

<div id='blogs'>
  <%= render :partial => 'user/blogs/blog_item', :collection => @blogs %>
</div>

<%= will_paginate @blogs %>
