<div class="selector">
  <a href="#" id='toggle_button'></a>
  <%= text_field_tag 'friend[login]', '' %>
  <div id='friend_list' style="display:none"></div>
  <div id="friend_table" class="box05" style="display:none">
    <div class="title01">
      <div class="right">
        <select name="" id='game_selector' >
          <option value='all'>全部好友</option>
          <% current_user.games.each do |game| %>
            <option value=<%= game.id %>><%= game.name %></option>
          <% end %>
        </select>
      </div>
      <h1>选择你的好友</h1>
    </div>
    <div class="checkgroup" id='friend_items'></div>
      <div class="buttons s_clear">
        <table class="center" cellpadding="0"><tr>
          <td>
            <span class="button"><span><button onclick="" id="confirm_btn">确定</button></span></span>
          </td>
          <td>
            <span class='button'><span><button onclick="" id='cancel_btn'>取消</button></span></span>
          </td>
        </tr></table>
      </div>
    </div>
  </div>
</div>

