          <h2 class='s_clear'>
            <span class='left'>标题： <%= h topic.subject %></span>
            <div class='op'>
            <% if guild.president == current_user %>
              <% if !topic.top %>
                <%= link_to_function "<span class='icon-up'></span>置顶", "Iyxzone.Forum.toggleTopic(#{topic.id}, #{topic.forum_id}, this, 'topic_show');" %>
              <% else %>
                <%= link_to_function "<span class='icon-down'></span>取消置顶", "Iyxzone.Forum.toggleTopic(#{topic.id}, #{topic.forum_id}, this, 'topic_show');" %>
              <% end %>
              <%= link_to_function "<span class='icon-active'></span>删除", "Iyxzone.Forum.confirmDeletingTopic(#{topic.id}, #{topic.forum_id}, this, 'topic_show');" %>
            <% end %>
            </div>
          </h2>

