<% if notices.count == 0 %>
<% else %>
  <h4>新留言及回复<span>(<%= current_user.notices.unread.count %>)</span></h4>
  <ul>
  <% notices.each do |notice| %>
    <% producer = notice.producer %>
    <%= render :partial => "user/notices/#{notice.producer_type.underscore}_notice", :locals => {:notice => notice, :home_page => true} %>
  <% end %>
  </ul>
<% end %>
