<div class="round06 round_r_t hotGameEx">
                                    <div class="round_l_t">
                                      <div class="round_r_b">
                                        <div class="round_l_b">
                                          <div class="round_m">
                                               <div class="round_body">
                                                     <h2 class="title">游戏分类</h2>
                                                       <ul class="xList">
                                                        <% user.games.each do |game| %>
                                                         <li><%= game_link game %></li>
                                                        <% end %>
                                                       </ul>
                                                     </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
