<div class="round06 round_r_t hotGameEx space">
                                    <div class="round_l_t">
                                      <div class="round_r_b">
                                        <div class="round_l_b">
                                          <div class="round_m">
                                               <div class="round_body">
                                                     <h2 class="title"><%= get_subject user %>玩的游戏</h2>
                                                       <ul class="xList">
                                                        <% user.games.each do |game| %>
                                                         <li><%= link_to game.name, search_mini_blogs_url(:key => game.name) %></li>
                                                        <% end %>
                                                       </ul>
                                                     </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
