  <% render :layout => 'user/mini_blogs/mini_blog', :locals => {:mini_blog => interested_mini_blog, :at => at, :with_foot => true} do %>
    <div class='feedFunc'>
      <%= avatar interested_mini_blog.poster, :class => 'imgbox01' %>
    </div>
  <% end %>
