  <% render :layout => 'mini_blog', :locals => {:mini_blog => search_mini_blog, :at => 'public', :words => words} do %>
    <div class="feedFunc transIcon">
      <span><%= search_mini_blog.forwards_count %></span>
      <%= facebox_link "转发", new_forward_mini_blog_url(search_mini_blog, :at => 'public'), :width => 400 %>
    </div>
  <% end %>
