    <div class='tab tab01'>
   <div class="right">
                              <%= link_to_function "分享到17gaming", "", :onmouseout => "$('share_tip').hide();", :onmouseover => "$('share_tip').show();", :href => "javascript: void((  function(s,d,e){    if(/17gaming.com/.test(d.location))      return;    var f='http://localhost:3000/sharings/new?at=outside&url=',u=d.location,l=d.title,p=[e(u),'&title=',e(l)].join('');    function a(){      if(!window.open([f,p].join(''),'17gaming',['resizable=no,width=450,height=300,left=',(s.width-420)/2,',top=',(s.height-300)/2].join('')))        u.href=[f,p].join('');    };    if(/Firefox/.test(navigator.userAgent))      setTimeout(a,0);    else       a();  })(screen,document,encodeURIComponent));", :class => "btn-17gaming w-l" %>
                              <div style="border: 1px solid rgb(189, 214, 173); padding: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; top: 33px; left: 5px; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; width: 180px; line-height: 20px; color: rgb(102, 102, 102); display: none;" id="share_tip">
                                <span class="arrow-tip02"></span>
                                <strong>添加浏览器按钮更方便</strong><br/>
                            右键点击下面按钮并选择"添加到收藏夹"，或将下面的按钮拖动到浏览器标签工具栏，让分享更加方便快捷
                              </div>
                            </div> 
      <ul>
        <% subject = get_subject user %>
        <li <% if hover == 0 %>class='hover'<% end %>><span><%= link_to "微博广场", public_mini_blogs_url %></span></li>
        <li <% if hover == 1 %>class='hover'<% end %>><span><%= link_to "我的首页", mini_blogs_url %></span></li>
        <li <% if hover == 2 %>class='hover'<% end %>><span><%= link_to "#{subject}的微博", other_mini_blogs_url(:uid => user.id) %></span></li>
      </ul>
    </div>

