<div id='visitor_records'>
<p class="z-h s_clear">
  <strong class="left">最近访问的人</strong>
  <%= link_to_function '', "Iyxzone.Facebox.close();", :class => "icon2-close right" %>
</p>

<div class='z-con'>
<div class='photolist-box'>
  <% unless @viewings.blank? %>
  <ul class="collection s_clear">
    <% @viewings.each do |r| %>
      <li>
        <div class="middle"><div class="middle-center"><div class="center"><a href="#"><%= avatar r.viewer, :class => 'imgbox01' %></a></div></div></div>
        <p><%= profile_link r.viewer %></p>
      </li>
    <% end %>
  </ul>
  <% else %>
    还没有人访问你的个人主页
  <% end %>
</div>
</div>

<div class="buttons s_clear">
  <table class="center" cellpadding="0"><tr><td>
    <%= remote_will_paginate @viewings, :remote => @remote %>
  </td></tr></table>
</div>
</div>
