		<% if @notifications.blank? %>
		<dt></dt><dd>暂时没有受到任何消息</dd>
		<% else %>
		<% @notifications.each do |notification| %>
		<dt class="rows"><span class="icon-friend"></span></dt>
			<dd>
				<%= notification.data %>
				<span class='gray'> <%= ftime notification.created_at %> </span>
			</dd>
		<% end %>
		<% end %>
