<table class="photo-edit-list">
  <% k = photos.size/4 %>
  <% 0.upto(k) { |i| %>
    <% if k == i%>
      <% n = photos.size % 4 - 1 %>
    <% else %>
      <% n = 3 %>
    <% end %>
    <% j = i*4 %>
    <tr>
      <% photos[j..j+n].each do |p| %>                         
        <td valign="bottom" width=25%>
          <%= photo_link p, :class => 'imgbox02' %>
        </td>
      <% end %>
      <% if n < 3 %>
        <td valign="bottom" width=25%></td>
        <td valign="bottom" width=25%></td>
      <% end %>
    </tr>
    <% if album.poster == current_user %>
      <tr>
        <% photos[j..j+n].each do |photo| %>
          <td>
          <%= facebox_link "", edit_personal_photo_url(photo, :at => 'album'), :class => "icon-active icon-active-edit" %>
          <%= link_to_function '', "Iyxzone.PersonalPhoto.confirmDeletingPhoto(#{photo.id}, #{photo.album_id});", :class => "icon-active" %>
          </td>
        <% end %>
        <td></td></td></td>
      </tr>
    <% end %>
  <% } %>
</table>
  <%= will_paginate photos %>
