        <div class="page-foot s_clear">
          <div class='foot-func s_clear'>
            <div class='left'>
              <span class="w-l red">评论(<%= @album.comments_count %>)</span><span class="w-l">|</span>
            </div>
            <div class='right'>
              <span class='w-l red'><%= report_link @album %></span>
            </div>
          </div>
          <div class='s_clear rows'>
            <div class="feed-list">
              <%= render :partial => 'user/comments/comment_box', :locals => {:commentable => @album, :recipient => @user} %>
            </div>
          </div>
        </div>
<% unless @reply_to.blank? %>
<%= onload_javascript_tag "Iyxzone.Comment.set('#{@album.class.name.underscore}', #{@album.id}, '#{@reply_to.login}', #{@reply_to.id});" %>
<% end %>

