<% content_for :html_title, "#{current_user.login} - 好友相册 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login}的好友相册 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% canvas_tag do %>
  <h1 class="app-photo">照片</h1>
  <div class="box02 canvas_int space">
    <%= render :partial => 'tab', :locals => {:user => current_user, :hover => 3} %>
    <div class="piclist-rows">
      <% if @albums.total_entries != 0 %>
        <h3>你的好友最近共更新 <span><%= @albums.total_entries %></span> 个相册</h3>
        <div class="piclist-rows">
          <table class='big' cellpadding="0" cellspacing="1">
            <%= render :partial => 'album_item2', :collection => @albums %>
					</table>
          <%= will_paginate @albums %>
        </div>
      <% else %>
        <div class='tip'>你的好友最近比较懒，没有更新什么相册</div>
      <% end %>
    </div>
  </div>
<% end %>
