<% content_for :html_title, "#{current_user.login} - 相册列表 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login}的相册列表 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <h1 class="app-photo">选择照片相册</h1>
    <div class="box02 canvas_int space">
      <%= render :partial => 'tab', :locals => {:user => current_user, :hover => 1} %>
      <div class="box02 appcontent01">
        <p> 请选择照片相册 <%= collection_select :album, :id, @albums, :id, :title, {:prompt => '---'} %> 或者 <%= facebox_link "新建相册", new_personal_album_url(:at => 'select') %> </p>
				<div class="buttons">
					<span class="button"><span><%= button_to_function "下一步", "if(!$('album_id').value){error('请选择一个相册');}else{ Iyxzone.disableButton(this, '请等待'); window.location.href = '#{new_personal_photo_url}?album_id=' + $('album_id').value;}" %></span></span>
				</div>
      </div>
    </div>
  </div></div>
</div></div></div></div>
