<% facebox_tag '邀请别人' do %>
  <% rows_form_remote_for :request, :url => event_requests_url(@event, :at => 'event'), :html => {:method => :post, :onsubmit=> "Iyxzone.disableButton($(new_event_request_btn),'请等待..');"} do |f| %>
    <div class='formcontent'>
      <div class="rows s_clear">
        <% if @characters.blank? %>
          <div class='tip'>你所有的游戏角色都已经在这个活动了，或者被邀请，或者已经发送请求了</div>
        <% else %>
          <div class='tip'>你还可以选择 <%= collection_select :request, :character_id, @characters, :id, :name, {:prompt => '---'} %> 加入这个活动? </div>
        <% end %>
      </div>
    </div>
    <% if @characters.blank? %>
      <%= f.z_submit :cancel => {:text => '取消', :onclick => 'Iyxzone.Facebox.close();'} %>
    <% else %>
      <%= f.z_submit :submit => {:text => '完成', :id => 'new_event_request_btn'}, :cancel => {:text => '取消', :onclick => 'Iyxzone.Facebox.close();'} %>
    <% end %>
  <% end %>
<% end %>
