<p class="z-h s_clear">
  <strong class="left">请求加入</strong>
  <%= link_to_function '', "facebox.close();", :class => "icon2-close right" %>
</p>

<div class="z-con">
<% form_remote_for :request, :url => event_requests_url(@event, :show => params[:show]), :html => {:method => :post} do |f| %>
<div class='formcontent'>
  <div class="rows s_clear">
    <% if @characters.blank? %>
      你所有的游戏角色都已经在这个活动了，或者被邀请，或者已经发送请求了
    <% else %>
      <%= collection_select :request, :character_id, @characters, :id, :name, {:prompt => '---'} %>
    <% end %>
  </div>
</div>
<div class="z-submit s_clear space">
  <table class="center" cellpadding="0"><tr><td>
    <% unless @characters.blank? %>
    <span class="button"><span><button type="submit" onclick="Iyxzone.disableButton(this,'请等待..')">完成</button></span></span>
    <% end %>
    <span class="button button-gray"><span><button type="button" onclick="facebox.close();">取消</button></span></span>
  </td></tr></table>
</div>
<% end %>
</div>
