<% blog = share.shareable %>

<% render :layout => 'share_item', :locals => {:sharing => sharing, :share => share, :shareable => blog} do %>
  <h3>日志：<%= link_to h(sharing.title), blog_url(blog), :popup => true %></h3>
  <%= sharing_reason sharing %>
<% end %>
