<% poll = share.shareable %>

<% render :layout => 'share_item', :locals => {:sharing => sharing, :share => share, :shareable => poll} do %>
  <h3>投票：<%= link_to h(sharing.title), poll_url(poll), :popup => true %></h3>
  <p class="con">
    <% poll.answers[0..2].each do |a| %>
      <%= check_box_tag '', '', false, :disabled => true %><%= truncate h(a.description), :length => 40, :omission => '...' %><br/>
    <% end %>
  </p>
  <%= sharing_reason sharing %>
<% end %>
