<% profile = share.shareable %>

<% render :layout => 'share_item', :locals => {:sharing => sharing, :share => share, :shareable => profile} do %>
  <h3>
    <%= avatar profile.user, {:class => 'imgbox01'}, {:class => 'left'} %>
    <span>
      玩家：<%= link_to h(sharing.title), profile_url(profile), :popup => true %><br/>
      <%= profile.user.games.map(&:name).join(', ') %>
    </span>
  </h3>
  <%= sharing_reason sharing, :class => 'con rows' %>
<% end %>
