<% topic = share.shareable %>

<% render :layout => 'share_item', :locals => {:sharing => sharing, :share => share, :shareable => topic} do %>
  <h3>公会<%= topic.forum.guild.name %>的话题了：<%= topic_link topic, :popup => true %></h3>
  <%= sharing_reason sharing %>
<% end %>
