    <div id="header">
      <div id="navbar">
        <div id="navwrap">
          <div id="navmid">
            <%= link_to '', home_url(), :class => "logo-top png", :title => "17gaming" %>
            <div id="navmain">
            </div>
            <div id="navsearch">
            </div>
            <div id="navextra">
            </div>
          </div>
        </div>
      </div>
    </div>
