<%= @user.login %>
<br/>
<br/>
您好！
<br/>
<br/>
<%= yield %>
<br/>
<br/>
<% if !@url.blank? %>
请点击 <a href=<%= @url %>><%= @url %></a> 查看详细情况～
<br/>
<br/>
<% end %>
祝您开心每一天
<br/>
17gaming.com
<br/>
<br/>
－－<br/>
此邮件由系统发出，请勿回复这封邮件。如果想联系我们，请登录17gaming.com。

