<% facebox_tag '编辑照片' do %>
  <% rows_form_for :photo, :html => {:onsubmit => "Iyxzone.Avatar.updatePhoto('#{params[:at]}', $('edit_photo_submit'), this, #{@photo.id}, #{@album.id}); return false" } do |f| %>
    <div class='formcontent'>
      <div id='errors' style="display:none" class="error-msg"></div>
      <%= f.text_area 'notation', :label => '照片描述' %>
      <%= f.collection_select :album_id, [@album], :id, :title, {}, :label => '所属相册' %>
    </div>
    <%= f.z_submit :submit => {:text => '完成', :id => 'edit_photo_submit'}, :cancel => {:text => '取消', :onclick => 'Iyxzone.Facebox.close();'} %>
  <% end %>
<% end %>
