<% facebox_tag '更改头像' do %>
  <% rows_form_for :photo, :url => avatars_url(:at => params[:at]), :html => {:multipart => true, :target => 'upload_frame', :onsubmit=> "Iyxzone.disableButton($('new_photo_submit_btn'), '请等待..');"} do |f| %>
    <div class='content'>
      <%= f.span '支持png, gif, jpg, 最大4MB' %>
      <%= f.file_field 'uploaded_data' %>
    </div>
    <%= f.z_submit :submit => {:text => '完成', :id => 'new_photo_submit_btn'}, :cancel => {:text => '取消', :onclick => 'facebox.close();'} %>
  <% end %>
<% end %>
<iframe id='upload_frame' name='upload_frame' style='width:1px;height:1px;border:0px' src="about:blank"></iframe>
